//Импорт файлов
@import 'payment-icons-variables';
//-------------------------------

#{$wrapper} {
	margin-top       : 20px;
	padding          : 20px;
	width            : 100%;

	border-radius    : 4px;
	background-color : $bg-icons;
	&_title {
		margin-bottom : 20px;
		padding-top   : 0;

		color         : $color-title;
		font-weight   : bold;
		font-size     : lib-font-size(1);
	}
	&_list#{$list} {
		display : inline-block;
		width   : 100%;
		#{$list}_item {
			margin-top : 10px;
			height     : 120px;

			@include lib-box12($cell : 2);
			#{$icon} {
				position   : relative;
				padding    : 60px 10px 10px 10px;

				text-align : center;
				&#{$_cash},
				&#{$_bank-card},
				&#{$_yandex-money},
				&#{$_euroset},
				&#{$_rbk},
				&#{$_bank-transfer} {
					&:before {
						content     : '';
						display     : block;
						position    : absolute;
						top         : 0;
						left        : 50%;
						margin-left : -31px;
						width       : 62px;
						height      : 60px;

						overflow    : hidden;
					}
				}
				&#{$_cash} {
					&:before {
						background : url('../../../../../img/about-purchase/payment_sprite.png') -4px 0 no-repeat;
					}
				}
				&#{$_bank-card} {
					&:before {
						background : url('../../../../../img/about-purchase/payment_sprite.png') -75px 0 no-repeat;
					}
				}
				&#{$_yandex-money} {
					&:before {
						background : url('../../../../../img/about-purchase/payment_sprite.png') -146px 0 no-repeat;
					}
				}
				&#{$_euroset} {
					&:before {
						background : url('../../../../../img/about-purchase/payment_sprite.png') -214px 0 no-repeat;
					}
				}
				&#{$_rbk} {
					&:before {
						background : url('../../../../../img/about-purchase/payment_sprite.png') -286px 0 no-repeat;
					}
				}
				&#{$_bank-transfer} {
					&:before {
						background : url('../../../../../img/about-purchase/payment_sprite.png') -356px 0 no-repeat;
					}
				}
			}
		}
	}
}