{% if typeTwig == 'php' %}
	{% set pathOffersList = 'guide/templates/' %}
{% else %}
	{% set pathOffersList = '../' %}
{% endif %}

<div class="su-column">
	<ul class="su-column_list su-list">

		{% for row in dataColumn %}
			<li class="su-list_item">
				{% include pathOffersList~'blocks/offer.twig' with {overrideClassOffer: 'su-list_offer'} %}
			</li>
		{% endfor %}

	</ul>
</div>