<div class="su-payment-icons">
	<h2 class="su-payment-icons_title">Оплачивайте как удобно</h2>
	<ul class="su-payment-icons_list su-list">
		<li class="su-list_item">
			<div class="su-payment-icon _su-cash">Наличный расчет</div>
		</li>
		<li class="su-list_item">
			<div class="su-payment-icon _su-bank-card">Банковская карта</div>
		</li>
		<li class="su-list_item">
			<div class="su-payment-icon _su-yandex-money">Яндекс деньги</div>
		</li>
		<li class="su-list_item">
			<div class="su-payment-icon _su-euroset">В салонах евросети</div>
		</li>
		<li class="su-list_item">
			<div class="su-payment-icon _su-rbk">RBK money</div>
		</li>
		<li class="su-list_item">
			<div class="su-payment-icon _su-bank-transfer">Банковский перевод</div>
		</li>
	</ul>
</div>