<p class="su-clearfix">
	<img src="img/example/example_6.jpg" alt="фотография 1">
	Вариант с фотографией в тексте (фотография и текст находятся в теге 'p')<br>
	Если фотография по высоте больше текста, необходимо тегу 'p' добавить класс 'su-clearfix' иначе фотография будет выезжать за пределы параграфа.<br>
	Макисмальная ширина фотографии 50% от родительского блока.<br>
	Чтобы все работало корректно, необходимо в одном параграфе размещать только одну фотографию.

</p>