//Импорт файлов
@import 'column-variables';
//-------------------------------

#{$wrapper} {

	//Для корректного отображения необходимо жесткое ограничение по ширине
	@include lib-respond-to(normal) {
		width : 620px;
	}
	@include lib-respond-to(narrow) {
		width : 510px;
	}
	@include lib-respond-to(mobile) {
		margin    : {
			left  : auto;
			right : auto;
		}
		width     : 100%;
		max-width : 600px;
	}
	&_list#{$list} {
		#{$list}_item {

			@include lib-respond-to(normal) {
				width : 100%;
			}

			&:nth-of-type(odd) {
				@include lib-respond-to(mobile) {
					margin-right : 0;
				}
			}
		}
		#{$list}_offer#{$offer} {
			@include lib-respond-to(normal) {
				padding-bottom : 88px;
			}
			@include lib-respond-to(narrow) {
				padding-bottom : 84px;
			}
			@include lib-respond-to(mobileXXS) {
				padding    : {
					top    : 10px;
					left   : 10px;
					right  : 10px;
					bottom : 90px;
				}
			}
			#{$offer}_preview#{$preview} {
				#{$preview}_link#{$link-img} {
					@include lib-respond-to(normal) {
						@include lib-link-img-param(
							$height : 180px
						);
					}
					@include lib-respond-to(mobileL) {
						@include lib-link-img-param(
							$height : 130px
						);
					}
					@include lib-respond-to(mobileS) {
						@include lib-link-img-param(
							$height : 105px
						);
					}
				}
			}
			#{$offer-description} {
				&_container {
					@include lib-respond-to(normal) {
						height : 108px;
					}
					@include lib-respond-to(narrow) {
						height : 112px;
					}
				}
				&_rating#{$rating} {
					@include lib-respond-to(normal) {
						position : absolute;
						bottom   : -25px;
						left     : 200px;
					}
					@include lib-respond-to(narrow) {
						bottom : -23px;
					}
					@include lib-respond-to(mobileL) {
						left : 145px;
					}
					@include lib-respond-to(mobileS) {
						left : 0;
					}
				}
			}
			#{$offer-title}#{$block},
			#{$offer-text} {
				@include lib-respond-to(normal) {
					padding-left : 200px;
				}
				@include lib-respond-to(mobileL) {
					padding-left : 145px;
				}
				@include lib-respond-to(mobileXXS) {
					padding-left : 116px;
				}
			}
			#{$offer-new-price}#{$detail} {
				@include lib-respond-to(normal) {
					bottom       : -63px;
					padding-left : 200px;
				}
				@include lib-respond-to(narrow) {
					bottom      : -62px;
					padding-top : 12px;
				}
				@include lib-respond-to(mobileL) {
					padding-left : 0;
				}
				@include lib-respond-to(mobileXXS) {
					bottom      : -81px;
					padding-top : 8px;
				}
				&:before {
					@include lib-respond-to(narrow) {
						right : 95px;
					}
					@include lib-respond-to(mobile) {
						right : 101px;
					}
				}
				#{$detail}_value {
					@include lib-respond-to(mobileXXS) {
						display     : block;
						margin-left : 0;
					}
				}
			}
			#{$offer-button}#{$block} {
				@include lib-respond-to(normal) {
					bottom : -70px;
				}
				@include lib-respond-to(mobileXXS) {
					bottom : -79px;
				}
			}
		}
	}
}
