<h1 class="su-block">
	<a class="su-block_element" href="#">Элемент блока "a" в блоке (заголовке) "h1"</a>
</h1>
<h2 class="su-block">
	<a class="su-block_element" href="#">Элемент блока "a" в блоке (заголовке) "h2"</a>
</h2>
<h3 class="su-block">
	<a class="su-block_element" href="#">Элемент блока "a" в блоке (заголовке) "h3"</a>
</h3>
<h4 class="su-block">
	<a class="su-block_element" href="#">Элемент блока "a" в блоке (заголовке) "h4"</a>
</h4>
<h5 class="su-block">
	<a class="su-block_element" href="#">Элемент блока "a" в блоке (заголовке) "h5"</a>
</h5>
<h6 class="su-block">
	<a class="su-block_element" href="#">Элемент блока "a" в блоке (заголовке) "h6"</a>
</h6>
<div class="su-block">
	<div class="su-block_element">Элемент блока "div" в блоке "div"</div>
</div>
<div class="su-block">
	<span class="su-block_element">Элемент блока "span" в блоке "div"</span>
</div>
<div class="su-block">
	<a class="su-block_element" href="#">Элемент блока "a" в блоке "div"</a>
</div>