<!-- Модификатор "_full" необходим  для вывода всех элементов компонента-->
<div class="su-field-select">
	<label class="su-field-select_label" for="select-text">Название метки</label>
	<span class="su-field-select_prefix">Префикс</span>
	<select id="select-text" class="su-field-select_select" name="#">
		<option class="su-field-select_option" disabled>Выберите пункт</option>
		<option class="su-field-select_option" value="Пункт 1">Пункт 1</option>
		<option class="su-field-select_option" value="Пункт 2">Пункт 2</option>
		<option class="su-field-select_option" value="Пункт 3">Пункт 3</option>
		<option class="su-field-select_option" value="Пункт 4">Пункт 4</option>
		<option class="su-field-select_option" value="Пункт 5">Пункт 5</option>
	</select>
	<span class="su-field-select_help">Текст подсказки</span>
	<span class="su-field-select_error">Текст ошибки</span>
</div>