<ol class="su-list-multilevel">
	<li>
		<h2>Заголовок раздела</h2>
		<ol>
			<li>
				Какой то текст текст текст текст текст текст текст текст текст
				<ol>
					<li>
						Какой то текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					</li>
					<li>
						Какой то текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					</li>
					<li>
						Какой то текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					</li>
				</ol>
			</li>
			<li>Способы возврата товара:
				<ul>
					<li>
						Почтой России. Покупатель отправляет возврат посылкой с объявленной ценностью, без наложенного платежа. Посылки, отправленные наложенным платежом, не принимаются к возврату. В посылку необходимо вложить заполненное заявление на возврат.
						<a href="/docs/vozvrat_zayavlenie_1.rtf" target="_blank" rel="nofollow">Скачать бланк заявления о возврате. </a>
					</li>
					<li>
						Через пункт самовывоза. Покупатель приходит по адресу г. Москва ул. Планерная 7 с товаром, паспортом и заполненным заявлением на возврат.
						<a href="/docs/vozvrat_zayavlenie_1.rtf" target="_blank" rel="nofollow">Скачать бланк заявления о возврате.</a>
						<br>Либо заполнив заявление на месте.
					</li>
					<li>
						Через курьера. Курьер приезжает по адресу, указанному при оформлении заказа, забирает возвращаемый товар и заполненное заявление на возврат.
					</li>
				</ul>
			</li>

			<li>
				Какой то текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
			</li>
		</ol>
	</li>
	<li>
		<h2>РЕКВИЗИТЫ ПРОДАВЦА</h2>
		<p>
			ИП ............
			<br>
			Юр. адрес: ...........
			<br>
			ИНН: ............
			<br>
			ОКПО: ............
			<br>
			ОГРН: .............
			<br>
			Банк: ...............
			<br>
			Расч. счет: ................
			<br>
			Корр. счет: ...............
			<br>
			БИК: ...........
		</p>
	</li>
</ol>