//Классы
$wrapper : lib-get-class('offers');
$group-buttons : lib-get-class('group-buttons');
$pagination : lib-get-class('pagination');
$bnr-block : lib-get-class('bnr-block');
//-------------------------------
