//Классы
$wrapper : lib-get-class('offers');
$group-buttons : lib-get-class('group-buttons');
$pagination : lib-get-class('pagination');
$bnr-block : lib-get-class('bnr-block');
$column : lib-get-class('column');
$list : lib-get-class('list');
$offer : lib-get-class('offer');
$offer : lib-get-class('offer');
$offer-new-price : lib-get-class('offer-new-price');
$preview : lib-get-class('preview');
$link-img : lib-get-class('link-img');
$detail : lib-get-class('detail');
//-------------------------------
