//Импорт файлов
@import 'blocks/header-logo';
@import 'blocks/header-contacts';
//-------------------------------

//Цвета
$bg-header : lib-color(primary-dark);
//-------------------------------

//Классы
$wrapper : lib-get-class('header-info');
$logo : lib-get-class('header-logo');
$contacts : lib-get-class('header-contacts');
//------------------------------

#{$wrapper} {
	position    : relative;
	padding-top : 30px;
	height      : 130px;
	z-index     : lib-z('header-info');

	background  : url('../../../../img/bg_1.png') center bottom repeat-x;

	@include lib-respond-to(narrow) {
		height : 118px;
	}
	&_container {
		position : relative;
		margin   : 0 auto;
		padding  : 0 10px;
		width    : $lib-width-container-normal;

		@include lib-respond-to(normal) {
			width : $lib-width-container-narrow;
		}
		@include lib-respond-to(narrow) {
			width : $lib-width-container-mobile;
		}
		@extend %lib-clearfix;

		@at-root {
			#{$logo} {
				@include lib-respond-to(narrow) {
					height : 73px;
				}
			}
			#{$contacts} {
				@include lib-respond-to(narrow) {
					padding-top : 16px;
				}
			}
		}

	}
}