<div class="{{ overrideClassPagination }} su-pagination">
	<span class="su-pagination_label">Еще товары:</span>
	<ul class="su-pagination_list su-list">
		<li class="su-list_item">
			<span class="su-pagination-current">1</span>
		</li>
		<li class="su-list_item">
			<a class="su-pagination-link su-link" href="#">2</a>
		</li>
		<li class="su-list_item">
			<a class="su-pagination-link su-link" href="#">3</a>
		</li>
	</ul>
</div>