<div class="su-header-logo">
	<a class="su-header-logo_link su-link-img" href="{{ headerLogo.href }}">
		<img class="su-link-img_img" src="{{ headerLogo.src }}" alt="{{ headerLogo.alt }}">
	</a>
</div>
