<div class="su-header-contacts">
	<span class="su-header-contacts_schedule">Телефон для заказов (звонить пн-пт, с 10-00 до 19-00</span>
	<ul class="su-header-contacts_phones su-list">
		<li class="su-list_item">+7 (495) 645-35-03</li>
		<li class="su-list_item">+7 (812) 309-53-28</li>
	</ul>
</div>
