<div class = 'su-header-slider theme-default'>
	<div id="slider" class="nivoSlider">
		<a class="" href="#">
			<img src="img/header/slider/slider_1.jpg" alt="картинка слайдера">
		</a>
		<a class="" href="#">
			<img src="img/header/slider/slider_2.jpg" alt="картинка слайдера">
		</a>
	</div>
	{#<a class="su-header-slider_link" href="#" target="_self" rel="nofollow"></a>#}
</div>
