//Импорт файлов
@import 'card-variables';
//-------------------------------

#{$wrapper} {

	@include lib-respond-to(narrow) {
		@include mix-content-common-narrow-param();
	}

	&_main {

		#{$view} {
			@include lib-respond-to(normal) {
				width : 270px;
			}
			@include lib-respond-to(narrow) {
				width : 220px;
			}
			#{$view-big}#{$preview} {
				#{$preview}_link#{$link-img} {
					@include lib-respond-to(narrow) {
						@include lib-link-img-param(
								$height : 200px
						);
					}
				}
			}
			#{$view-more} {
				&_list#{$list} {
					#{$list}_item {;
						@include lib-respond-to(narrow) {
							margin-top  : 10px;
							margin-left : 10px;
						}
						#{$view-min}#{$preview} {
							#{$preview}_link#{$link-img} {
								@include lib-respond-to(narrow) {
									@include lib-link-img-param(
											$height : 60px
									);
								}
							}
						}
					}
				}
			}
		}
		#{$actions} {
			&_rating#{$rating} {
				@include lib-respond-to(narrow) {
					margin-top : 20px;
				}
			}
			&_links#{$block} {
				@include lib-respond-to(narrow) {
					margin-top : 15px;
				}
			}
			&_order#{$order} {
				@include lib-respond-to(narrow) {
					margin-top : 25px;
				}
				#{$order}_form#{$one-click} {
					#{$one-click}_phone#{$field-text} {
						@include lib-respond-to(narrow) {
							width : 155px;
						}
					}
				}
			}
		}
	}
}