//Импорт файлов
@import '../../../utils/_lib';
@import '../../../utils/_mixins';
//-------------------------------

//Классы
$wrapper : lib-get-class('about-purchase');
$tabs : lib-get-class('tabs-block');
$control : lib-get-class('tabs-control');
$content : lib-get-class('tabs-content');
$payment : lib-get-class('payment-icons');
$payment-icon : lib-get-class('payment-icon');
$list : lib-get-class('list');
$_pickup : lib-get-modifier('pickup');
$_courier-moscow : lib-get-modifier('courier-moscow');
$_courier-spb : lib-get-modifier('courier-spb');
$_courier-russia : lib-get-modifier('courier-russia');
$_post-russia : lib-get-modifier('post-russia');
//-------------------------------

#{$wrapper} {
	@include mix-content-common-param();
	&_tabs#{$tabs} {
		margin-top : 30px;
		#{$tabs}_container {

			@at-root #{$wrapper}_tabs#{$tabs} {
				#{$control} {
					&_list#{$list} {
						@include lib-respond-to(normal) {
							#{$list}_item {
								margin-left : 6px;
								width       : 119px;

								font-size   : lib-font-size(-3);
								&:first-child {
									margin-left : -1px;
								}
							}
						}
						@include lib-respond-to(narrow) {
							#{$list}_item {
								margin-left : 5px;
								padding     : 8px 5px;
								width       : 98px;
								&:first-child {
									margin-left : -1px;
								}
								&#{$_pickup},
								&#{$_courier-moscow},
								&#{$_courier-spb},
								&#{$_courier-russia},
								&#{$_post-russia} {
									height : 98px;
									&:before {
										display    : block;
										margin-top : -8px;
										height     : 55px;
										width      : 100%;

										font-size  : 30px;
										@include lib-font-icon (
											$line-height : 55px
										);
									}
								}
							}
						}
					}
				}

				#{$content} {
					@include lib-respond-to(narrow) {
						padding : 15px 10px;
					}
				}
			}

		}
	}
	#{$payment} {
		&_title {
			padding-top : 0;

			font-size   : lib-font-size(1);
		}
		&_list#{$list} {
			#{$list}_item {

				@include lib-respond-to(normal) {

					@include lib-box12($cell : 3);
					#{$payment-icon} {
						&:before {
							margin-right : 26px;
							margin-left  : 26px;
						}
					}
				}
				@include lib-respond-to(narrow) {
					#{$payment-icon} {
						&:before {
							margin-right : 13px;
							margin-left  : 13px;
						}
					}
				}
			}
		}
	}
}