//Классы
$wrapper : lib-get-class('footer');
$social-network : lib-get-class('footer-social-network');
$catalog : lib-get-class('footer-catalog');
$info : lib-get-class('footer-info');
$about-us : lib-get-class('footer-about-us');
$contacts : lib-get-class('footer-contacts');
//-------------------------------
