//Импорт файлов
@import 'blocks/footer-copyright';
@import 'blocks/footer-social-network';
@import 'blocks/footer-info';
@import 'blocks/footer-developer';
@import 'blocks/footer-contacts';
@import 'blocks/footer-catalog';
@import 'blocks/footer-about-us';
@import 'footer-variables';
//-------------------------------

#{$wrapper} {
	position : relative;
	margin   : 0 auto;
	padding  : 30px 10px;
	width    : $lib-width-container-normal;
	&_row {
		@extend %lib-clearfix;

		@at-root {
			#{$wrapper}_cell {
				@include lib-box10(2);
				#{$social-network} {
					margin-right : 30px;
					//pluso - класс плагина
					&_pluso.pluso {
						margin-left : -5px;
					}
				}
				#{$catalog},
				#{$info},
				#{$about-us} {
					margin : 0 30px;
				}
				#{$contacts} {
					margin-left : 30px;
				}
			}
		}

	}
}