//Цвета
$color-form : lib-color(primary-dark);
$color-title : lib-color(secondary-dark);
//------------------------------

//Классы
$wrapper : lib-get-class('modal-change-personal');
$personal-title : lib-get-class('personal-title');
$personal-close : lib-get-class('personal-close');
$personal-form : lib-get-class('personal-form');
$field-text : lib-get-class('field-text');
$field-select : lib-get-class('field-select');
$field-textarea : lib-get-class('field-textarea');
$block : lib-get-class('block');
//-------------------------------
