//Импорт файлов
@import 'modal-change-personal-variables';
//-------------------------------

#{$wrapper} {
	@include lib-respond-to(mobile) {
		padding-right : 0 !important;
	}

	//класс фреймворка bootstrap
	.modal-dialog {
		@include lib-respond-to(mobile) {
			margin        : 30px auto;
			padding-right : 0 !important;

			width         : 300px;
		}
	}

	#{$personal-form} {
		&_name#{$field-text},
		&_email#{$field-text},
		&_phone#{$field-text} {
			@include lib-respond-to(mobile) {
				width        : 100%;
			}
		}
	}
}
