//Импорт файлов
@import '../../utils/lib';
@import '../../utils/mixins';
//-------------------------------

//Классы
$wrapper : lib-get-class('catalog');
$tile : lib-get-class('tile');
$list : lib-get-class('list');
//-------------------------------

#{$wrapper} {
	@include mix-content-common-param();
	&_sections#{$tile} {
		margin-top : 20px;

		border     : none;
		background : none;
	}
	&_popular#{$tile} {
		margin-top : lib-line-top(3);
	}

	@at-root {
		#{$wrapper}_sections#{$tile} {
			@include mix-respond-normal-tile-common();
		}

		#{$wrapper}_popular#{$tile} {
			@include mix-respond-normal-tile-common();
			@include mix-respond-narrow-tile-common();
		}
	}

}