//Импорт файлов
@import '../../utils/lib';
@import '../../utils/mixins';
//-------------------------------

//Цвета
$color-text-instruction : lib-color('secondary-accent');
$color-text-error : lib-color('accent-base-bright');
//-------------------------------

//Классы
$wrapper : lib-get-class('password');
$password-recover : lib-get-class('password-recover');
$password-change : lib-get-class('password-change');
$field-text : lib-get-class('field-text');
$block : lib-get-class('block');
//-------------------------------

#{$wrapper} {
	@include mix-content-common-param();
	&_title {

	}
	#{$password-recover} {
		&_question {
			font-weight : $lib-font-weight-bold;
		}
		&_instruction {
			color : $color-text-instruction;
		}
		&_error {
			color : $color-text-error;
		}
		&_email#{$field-text} {
			margin-top : 20px;
			width      : 250px;
		}
		&_button#{$block} {
			margin-top : 20px;
		}
	}
	#{$password-change} {
		&_instruction {
			color : $color-text-instruction;
		}
		&_error {
			color : $color-text-error;
		}
		&_password#{$field-text},
		&_new-password#{$field-text} {
			margin-top : 1.25rem;
			width      : 300px;
		}
		&_button#{$block} {
			margin-top : 20px;
		}
	}
}