//Импорт файлов
@import '../blocks/search';
@import 'popup-container-variables';
//-------------------------------

#{$wrapper} {
	position : relative;
	margin   : 0 auto;
	padding  : 0 10px;
	width    : $lib-width-container-normal;

	@include lib-respond-to(normal) {
		width : $lib-width-container-narrow;
	}
	@include lib-respond-to(narrow) {
		width : $lib-width-container-mobile;
	}

	@at-root {
		#{$popup-search} {
			position : absolute;
			top      : 43px;
			left     : 10px;
		}
	}

}