.su-offers {
  position: relative;
  margin: 0 auto;
  padding: 20px 40px 15px 40px;
  max-width: 1280px;
}

.su-offers_sorting.su-group-buttons,
.su-offers_pagination.su-pagination,
.su-offers_partner.su-bnr-block {
  margin-top: 20px;
}

@media screen and (max-width: 992px) {
  .su-offers {
    padding-right: 20px;
    padding-left: 20px;
    max-width: 1280px;
  }
}

@media screen and (max-width: 768px) {
  .su-offers {
    padding-right: 0;
    padding-left: 0;
  }
}
