//Импорт файлов
@import 'slider-variables';
//-------------------------------

#{$wrapper} {

	//Для корректного отображения необходимо жесткое ограничение по ширине
	@include lib-respond-to(normal) {
		width : 620px;
	}
	@include lib-respond-to(narrow) {
		width : 510px;
	}
	@include lib-respond-to(mobile) {
		display : none;
	}
	#{$slider} {
		&_prev {
			@include lib-respond-to(normal) {
				left : -3px;
			}
		}
		&_next {
			@include lib-respond-to(normal) {
				right : 0;
			}
		}
		&_prev,
		&_next {
			@include lib-respond-to(narrow) {
				margin-top : -12px;
				height     : 24px;
				width      : 16px;

				font-size  : 24px;
			}
		}
		&_container {
			@include lib-respond-to(normal) {
				width : 571px;
			}
			@include lib-respond-to(narrow) {
				height : 228px;
				width  : 468px;
			}
		}
		&_list#{$list} {
			#{$list}_item {
				@include lib-respond-to(normal) {
					margin-left : 8px;
				}
				@include lib-respond-to(narrow) {
					margin-left : 6px;
					width       : 152px;
				}
				&:first-child {
					@include lib-respond-to(normal) {
						margin-left : 0;
					}
					@include lib-respond-to(narrow) {
						margin-left : 0;
					}
				}
				#{$list}_offer#{$offer} {
					@include lib-respond-to(narrow) {
						padding-bottom : 10px;
					}
					#{$offer}_preview#{$preview} {
						#{$preview}_link#{$link-img} {
							@include lib-respond-to(narrow) {
								@include lib-link-img-param(
									$height : 132px
								);
							}
						}
					}
					#{$offer-description} {
						#{$offer-title} {
							@include lib-respond-to(narrow) {
								margin-top : -40px;
								height     : 40px;
							}
						}
						#{$offer-price} {
							@include lib-respond-to(narrow) {
								position   : relative;
								bottom     : auto;
								margin-top : 10px;
								width      : 100%;

								text-align : center;
							}
						}
						#{$offer-button} {
							@include lib-respond-to(narrow) {
								position   : relative;
								bottom     : auto;
								margin-top : 14px;

								text-align : center;
							}
						}
					}
				}
			}
		}
	}
}


