//Классы
$wrapper : lib-get-class('slider-wrapper');
$slider : lib-get-class('slider');
$offer : lib-get-class('offer');
$offer-description : lib-get-class('offer-description');
$offer-title : lib-get-class('offer-title');
$offer-price : lib-get-class('offer-price');
$offer-button : lib-get-class('offer-button');
$list : lib-get-class('list');
$preview : lib-get-class('preview');
$link-img : lib-get-class('link-img');
$link : lib-get-class('link');
$block : lib-get-class('block');
$_hidden : lib-get-modifier('hidden');
//-------------------------------
