//Импорт файлов
@import 'grid-1-variables';
//-------------------------------

#{$wrapper} {
	$padding : 10px;

	&_container {
		position : relative;
		margin   : 0 auto;
		padding  : $padding;
		width    : $lib-width-container-large;

		@extend %lib-clearfix;

	}

	@include lib-grid-param (
		$grid-class : $wrapper,
		$content-float : only-full-width
	);
}
