<form class="{{ overrideClassLoginForm }} su-login-form">
	<div class="su-login-form_text">Или введите:</div>
	<div class="su-login-form_email su-field-text">
		<input id="input-text" class="su-field-text_input" type="text" name="#" placeholder="Email" required="">
		<span class="su-field-text_error">Текст ошибки</span>
	</div>
	<div class="su-login-form_password su-field-text">
		<input id="input-text" class="su-field-text_input" type="password" name="#" placeholder="Пароль" required="">
		<span class="su-field-text_error">Текст ошибки</span>
	</div>
	<div class="su-login-form_row su-block">
		<button class="su-block_element su-btn">{{ textButton }}</button>
		<a class="su-block_element su-link" href="#">Забыли свой пароль</a>
	</div>
</form>