<div class="{{ overrideClassSocialLinks }} su-social-links">
	{% if socialLinks %}
		<div class="su-social-links_title">Войти через:</div>
	{% endif %}

	<ul class="su-social-links_list su-list">
		<li class="su-list_item">
			<a class="su-social-link su-link-btn _su-vk" href="#">
				<span class="su-link-btn_addition">Войти через</span>
				Вконтакте
			</a>
		</li>
		<li class="su-list_item">
			<a class="su-social-link su-link-btn _su-fb" href="#">
				<span class="su-link-btn_addition">Войти через</span>
				Facebook
			</a>
		</li>
	</ul>
</div>

