<div class="su-captcha">
	<div class="su-captcha_title">Защита сообщений</div>
	<img class="su-captcha_img" src="img/example/example_3.jpg" alt="captcha">
	<div class="su-captcha_field su-field-text _su-error">
		<label class="su-field-text_label" for="captcha-text">Введите слово на картинке</label>
		<div class="su-field-text_block">
			<input id="captcha-text" class="su-field-text_input" type="text" name="#" placeholder="Плейсхолдер">
			<span class="su-field-text_postfix"></span>
		</div>
		<span class="su-field-text_help">Текст подсказки</span>
		<span class="su-field-text_error">Текст ошибки</span>
	</div>
	<div class="su-captcha_button su-block">
		<button class="su-block_element su-btn">Отправить в доставку</button>
	</div>
</div>