<div class="su-popular">
	<span class="su-popular_title">Популярное:</span>
	<ul class="su-popular_list su-list">
		<li class="su-list_item">
			<a class="su-list_link" href="#">кусачки Сталекс</a>
		</li>
		<li class="su-list_item">
			<a class="su-list_link" href="#">кусачки Zinger</a>
		</li>
	</ul>
</div>