<div class="su-tile">
	<ul class="su-tile_list su-list">

		{% for row in tileOffers %}
			<li class="su-list_item">
				{% include 'offer.twig' with {overrideClassOffer: 'su-list_offer'} %}
			</li>
		{% endfor %}

	</ul>
	<div class="su-tile_more su-block">
		<a class="su-block_element su-more" href="#">посмотрите все товары</a>
	</div>
</div>