//Цвета
$bg-wrapper : lib-color(primary-light);
$color-title : lib-color(primary-lighter);
$color-title-shadow : lib-color(primary-darker);
$color-border : lib-color(primary-base);
$color-shadow : lib-color(primary-base-dark);
//-------------------------------

//Классы
$wrapper : lib-get-class('free-mail');
//-------------------------------
