//Цвета
$color-popular-link: lib-color(secondary-base);
//-------------------------------

//Классы
$wrapper : lib-get-class('popular');
$popular-links : lib-get-class('popular-links');
$popular-link : lib-get-class('popular-link');
$detail : lib-get-class('detail');
$list : lib-get-class('list');
$link : lib-get-class('link');
//-------------------------------

#{$wrapper} {
	&_detail#{$detail} {
		display: inline-block;
		#{$detail}_label {
			float       : left;

			line-height : 1.25rem;
		}
		#{$detail}_value {
			float: left;

			@at-root {
				#{$popular-links}#{$list} {
					#{$list}_item {
						float       : left;
						margin-left : 15px;
						&:first-child {
							margin-left : 8px;
						}

						#{$popular-link}#{$link} {
							color: $color-popular-link;
						}
					}
				}
			}

		}
	}
}