//Импорт файлов
@import 'personal-variables';
//-------------------------------

#{$wrapper} {
	@include mix-content-common-param();

	@at-root {
		#{$personal-header} {
			position   : relative;
			margin-top : 30px;
			padding    : 15px;
			min-height : 145px;

			background : $bg-personal-header;

			@at-root {
				#{$personal-avatar} {
					position : absolute;
					top      : 15px;
					left     : 15px;
					height   : 70px;
					width    : 70px;
					&_img {
						max-height : 100%;
					}
				}
				#{$personal-info} {
					padding : 0 315px 0 85px;
					&_name {
						display : block;
					}
					&_phone#{$detail},
					&_email#{$detail} {
						display     : table;
						padding-top : 10px;
						#{$detail} {
							&_label,
							&_value {
								display : table-cell;
							}
							&_label {
								padding-right : 4px;
							}
						}

					}
					&_button#{$block} {
						margin-top : 15px;
					}
				}
				#{$personal-account} {
					position   : absolute;
					top        : 15px;
					right      : 15px;
					padding    : 15px;
					width      : 300px;

					background : $bg-personal-account;
					&_balance#{$detail} {
						display     : table;
						padding-top : 0;
						#{$detail}_label,
						#{$detail}_value {
							display : table-cell;
						}
						#{$detail}_label {
							padding-right : 4px;
						}
					}
					&_links#{$list} {
						margin-top : 19px;
						#{$list}_item {
							padding-top : 5px;
						}
					}
				}
			}

		}
		#{$tabs-block}#{$_personal} {
			margin-top : 20px;
		}
	}

}