//Импорт файлов
@import 'grid-2-variables';
//-------------------------------

#{$wrapper} {
	$padding : 10px;

	&_container {
		@include lib-respond-to(normal) {
			width : $lib-width-container-narrow;
		}
		@include lib-respond-to(narrow) {
			width : $lib-width-container-mobile;
		}
	}

	@include lib-respond-to(normal) {
		@include lib-grid-param (
			$grid-class: $wrapper,
			$padding-container-px: $padding,
			$width-container-px: $lib-width-container-narrow,
			$width-aside-px: 250px,
			$aside-float: only-width
		);
	}
	@include lib-respond-to(narrow) {
		@include lib-grid-param (
			$grid-class: $wrapper,
			$padding-container-px: $padding,
			$width-container-px: $lib-width-container-mobile,
			$width-aside-px: 180px,
			$aside-float: only-width
		);
	}
	@include lib-respond-to(mobile) {
		@include lib-grid-param (
			$grid-class: $wrapper,
			$content-float: only-full-width
		);
	}
}
