//Импорт файлов
@import 'grid-2-variables';
//-------------------------------

#{$wrapper} {
	$padding: 10px;

	&_container {
		position : relative;
		margin   : 0 auto;
		padding  : $padding;
		width    : $lib-width-container-large;

		@extend %lib-clearfix;

	}

	@include lib-grid-param (
		$grid-class: &,
		$padding-container-px: $padding,
		$width-container-px: $lib-width-container-large,
		$width-aside-px: 250px,
		$aside-float: left,
		$content-float: left
	);

	&_aside#{$_aside-right} {
		float: right;
	}
}
