//Цвета
$color-title-block-link : lib-color(accent-base-bright);
//-------------------------------

//Классы
$wrapper : lib-get-class('tile');
$tile-block : lib-get-class('tile-block');
$list : lib-get-class('list');
$block : lib-get-class('block');
$pagination : lib-get-class('pagination');
//-------------------------------
