//Импорт файлов
@import 'footer-variables';
//-------------------------------

#{$wrapper} {
	@include lib-respond-to(normal) {
		width : $lib-width-container-normal;
	}
	@include lib-respond-to(narrow) {
		width : $lib-width-container-narrow;
	}
	@include lib-respond-to(mobile) {
		width : $lib-width-container-mobile;
	}
	&_row {
		&:first-child {
			@include lib-respond-to(mobile) {
				position       : relative;
				padding-bottom : 98px;
			}
		}
	}
	&_cell {
		&:first-child {
			@include lib-respond-to(mobile) {
				position : absolute;
				bottom   : 0;
				left     : 0;
				width    : 100%;
			}
		}

		&:not(:first-child) {
			@include lib-respond-to(mobile) {
				width : 25%;
			}
			@include lib-respond-to(mobileXL) {
				width : 33.333%;
			}
			@include lib-respond-to(mobileL) {
				width : 50%;
			}
		}
		&:nth-of-type(3) {
			@include lib-respond-to(mobileXL) {
				display : none;
			}
		}
		&:nth-of-type(4) {
			@include lib-respond-to(mobileXL) {
				padding-left : 3.5%;
			}
			@include lib-respond-to(mobileL) {
				display : none;
			}
		}
	}
	#{$footer-social-network} {
		@include lib-respond-to(normal) {
			margin-right : 20px;
		}
		@include lib-respond-to(narrow) {
			margin-right : 10px;
		}
		@include lib-respond-to(mobile) {
			margin-right : 0;

			text-align   : center;
		}
		&_title {
			@include lib-respond-to(mobile) {
				display : block;
			}
			br {
				@include lib-respond-to(mobile) {
					display : none;
				}
			}
		}
		//pluso - класс плагина
		&_pluso.pluso {
			@include lib-respond-to(mobile) {
				margin   : {
					top  : 10px;
					left : 0;
				}
			}
		}
		//pluso-wrap - класс плагина
		.pluso-wrap {
			:nth-of-type(1) {
				@include lib-respond-to(mobile) {
					margin-left : 0;
				}
			}
			:nth-of-type(6),
			:nth-of-type(7) {
				@include lib-respond-to(mobileS) {
					display : none;
				}
			}
			:nth-of-type(8),
			:nth-of-type(9),
			:nth-of-type(10) {
				@include lib-respond-to(normal) {
					display : none;
				}
			}
			:nth-of-type(11) {
				@include lib-respond-to(mobile) {
					display : none;
				}
			}
			:nth-of-type(12) {
				@include lib-respond-to(mobile) {
					margin-right : 0;
				}
			}
		}
	}
	#{$footer-catalog},
	#{$footer-info},
	#{$footer-about-us} {
		@include lib-respond-to(normal) {
			margin : 0 20px;
		}
		@include lib-respond-to(narrow) {
			margin : 0 15px;
		}

	}
	#{$footer-info} {
		@include lib-respond-to(mobileL) {
			margin : 0;
		}
	}
	#{$footer-contacts} {
		@include lib-respond-to(normal) {
			margin-left : 20px;
		}
		@include lib-respond-to(narrow) {
			margin-left : 10px;
		}
		@include lib-respond-to(mobileL) {
			margin-left : 0;
		}
	}
	#{$footer-copyright},
	#{$footer-developer} {
		@include lib-respond-to(mobile) {
			width      : 100%;

			text-align : center;
		}
	}
	#{$footer-copyright} {
		@include lib-respond-to(mobile) {
			line-height : 1.44;
		}
		#{$link} {
			@include lib-respond-to(mobile) {
				display : inline-block;
			}
		}
	}
}
