//Классы
$wrapper : lib-get-class('footer');
$footer-social-network : lib-get-class('footer-social-network');
$footer-catalog : lib-get-class('footer-catalog');
$footer-info : lib-get-class('footer-info');
$footer-about-us : lib-get-class('footer-about-us');
$footer-contacts : lib-get-class('footer-contacts');
//-------------------------------
