//Импорт файлов
@import '../blocks/header-stock';
@import '../blocks/header-slider';
@import 'header-banner-variables';
//-------------------------------

#{$wrapper} {
	position        : relative;
	margin-top      : -5px;
	z-index         : lib-z('header-bnr');

	background      : transparent url('../../../../../img/bg_2.jpg') 100% 100% no-repeat;
	background-size : cover;
	&_container {
		position : relative;
		margin   : 0 auto;
		padding  : 0 10px;
		height   : 350px;
		width    : $lib-width-container-large;

		@extend %lib-clearfix;
	}
}