//Классы
$wrapper : lib-get-class('header-bnr');
$header-stock : lib-get-class('header-stock');
$stock-counter : lib-get-class('stock-counter');
$stock-view : lib-get-class('stock-view');
$stock-offer : lib-get-class('stock-offer');
$stock-accent : lib-get-class('stock-accent');
$stock-description : lib-get-class('stock-description');
$indicator : lib-get-class('indicator');
$timer : lib-get-class('timer');
$link-img : lib-get-class('link-img');
$detail : lib-get-class('detail');
$block : lib-get-class('block');
$_start : lib-get-modifier('start');
$_middle : lib-get-modifier('middle');
$_end : lib-get-modifier('end');
//-------------------------------