//Цвета
$color-footer-phone : lib-color(primary-lighter);
$color-footer-schedule : lib-color(primary-lighter);
//-------------------------------

//Классы
$wrapper : lib-get-class('footer-contacts');
$contacts-list : lib-get-class('footer-contacts-list');
$detail : lib-get-class('detail');
$list : lib-get-class('list');
//-------------------------------

#{$wrapper} {
	text-align : right;
	&_phones#{$detail} {
		padding-top : 0;
		#{$detail}_label {
			@include mix-footer-title;
		}
		#{$detail}_value {

			@at-root {
				#{$contacts-list}#{$list} {
					margin-top : 15px;

					color      : $color-footer-phone;
					font-size  : lib-font-size(-2);
					text-align : right;
				}
			}

		}
	}
	&_schedule {
		margin-top  : 12px;

		color       : $color-footer-phone;
		font-size   : lib-font-size(-2);
		line-height : lib-line-height(-2);
		text-align  : right;
	}
}