//Импорт файлов
@import 'free-mail-variables';
//-------------------------------

#{$wrapper} {
	width         : 707px;
	margin        : 20px auto 0;
	height        : 280px;

	border-radius : 5px;
	border        : 1px solid $color-border;
	background    : $bg-wrapper url('../../../../img/bg_mail.jpg') left top repeat-x;
	box-shadow    : 0 1px 5px 0 $color-shadow;
	&_title {
		padding        : 0 20px;
		height         : 52px;

		line-height    : 52px;
		color          : $color-title;
		font-size      : lib-font-size(1);
		font-weight    : 900;
		letter-spacing : 1px;
		text-transform : uppercase;
		text-shadow    : 1px 1px 2px $color-title-shadow;
	}
	&_description {
		float       : left;
		margin-top  : 10px;
		margin-left : 20px;
		width       : 360px;

		@at-root {
			#{$wrapper}_text-1,
			#{$wrapper}_text-2 {
				font-size : lib-font-size(-3);
			}

			#{$wrapper}_text-1 {
			}

			#{$wrapper}_text-2 {
				padding-top : 15px;
				font-weight : $lib-font-weight-bold;
			}
		}

	}
	&_user-data {
		float  : right;
		margin : 30px 20px 0 0;
		width  : 287px;
	}
}
