//Цвета
$color-form : lib-color(primary-dark);
$color-title : lib-color(secondary-dark);
//------------------------------

//Классы
$wrapper : lib-get-class('modal-application');
$application-title : lib-get-class('application-title');
$application-close : lib-get-class('application-close');
$application-form : lib-get-class('application-form');
$field-text : lib-get-class('field-text');
$field-select : lib-get-class('field-select');
$field-textarea : lib-get-class('field-textarea');
$captcha : lib-get-class('captcha');
$block : lib-get-class('block');
//-------------------------------

#{$wrapper} {
	//класс фреймворка bootstrap
	.modal-dialog {
		width : 370px;
	}

	@at-root {
		#{$application-title} {
			color     : $color-title;
			font-size : lib-font-size(e2);
		}
		#{$application-close} {
			@include lib-close;
		}
		#{$application-form} {
			color : $color-form;
			&_country {
				margin-top : 15px;
			}
			&_name#{$field-text},
			&_email#{$field-text},
			&_phone#{$field-text},
			&_region#{$field-select},
			&_address#{$field-textarea},
			&_captcha#{$captcha},
			&_button#{$block} {
				margin-top : 15px;
				width      : 300px;
			}
		}
	}

}