//Цвета
$color-form : lib-color(primary-dark);
$color-title : lib-color(secondary-dark);
//------------------------------

//Классы
$wrapper : lib-get-class('modal-change-personal');
$personal-title : lib-get-class('personal-title');
$personal-close : lib-get-class('personal-close');
$personal-form : lib-get-class('personal-form');
$field-text : lib-get-class('field-text');
$field-select : lib-get-class('field-select');
$field-textarea : lib-get-class('field-textarea');
$block : lib-get-class('block');
//-------------------------------

#{$wrapper} {
	//класс фреймворка bootstrap
	.modal-dialog {
		width : 330px;
	}

	@at-root {
		#{$personal-title} {
			color     : $color-title;
			font-size : lib-font-size(e2);
		}

		#{$personal-close} {
			@include lib-close;
		}

		#{$personal-form} {
			color : $color-form;
			&_name#{$field-text},
			&_email#{$field-text},
			&_phone#{$field-text},
			&_button#{$block} {
				width : 300px;
			}
			&_email#{$field-text},
			&_phone#{$field-text},
			&_button#{$block} {
				margin-top : 15px;
			}
			&_photo#{$block} {
				#{$block}_element {
					margin-top : 8px;
					&:first-child {
						margin-top : 15px;
					}
				}
			}
		}
	}

}