// ЗАПОЛНИТЕЛИ

// ВАЖНО!!!
// Для избежания конфликтов с подключаемыми scss фреймфорками и библиотеками
// обязательно добавляйте "%lib-" в начале заполнителей этого файла

%lib-clearfix {

	&:before,
	&:after {
		content : ' ';
		display : table;
	}

	&:after {
		clear : both;
	}

}