//Импорт файлов
@import 'functions';
//----------------------------

// ВАЖНО!!!
// Для избежания конфликтов с подключаемыми scss фреймфорками и библиотеками
// обязательно добавляйте "lib-" в начале переменных этого файла

//----------------------------
// 1. ПРЕФИКС КЛАССОВ
$lib-class-prefix: 'su-';
//----------------------------

//----------------------------
// 2. ПАЛИТРА
$lib-palette: (
	primary-darker:             #232323,//35  35  35
	primary-dark:               #717171,//113 113 113
	primary-base-dark:          #a8a8a8,//168 168 168
	primary-base:               #cccccc,//204 204 204
	primary-base-light:         #e3e3e3,//227 227 227
	primary-light:              #ececec,//236 236 236
	primary-lighter:            #ffffff,//255 255 255

	secondary-dark:             #663333,//102 51  51
	secondary-visited:          #7c3ed7,//124 62  215
	secondary-accent-dark:      #68a22e,//104 162 46
	secondary-accent:           #97cb63,//151 203 99
	secondary-accent-light:     #95ff2e,//149 255 46
	secondary-base:             #0559bc,//5   89 188
	secondary-light:            #00aff2,//0   175 242

	accent-darker:              #5b5043,//91  80  67
	accent-dark:                #a27a4a,//162 122 74
	accent-base-dark:           #c98d03,//201 141 3
	accent-base:                #ffb409,//255 180 9
	accent-base-bright:         #ff9000,//255 144 9
	accent-base-light:          #fbf7bb,//251 247 187
	accent-light:               #fffcd6,//255 252 214
	accent-lighter:             #fffceb,//255 252 235

	//Дополнительные цвета для поля формы поиска в шапке
	border-input-dark:          #8ca3ae,//140 163 174
	border-input-base:          #a0b4be,//160 180 190
	border-input-light:         #b6c8d1,//182 200 209

	//Дополнительные цвета для кнопок соц.сетей
	background-vk:              #537ca6,//83 124 166
	background-fb:              #4e6aba,//78 106 186

	//Дополнительный цвет для отображения ошибки
	color-error:				#ff0000,//255  0   0
);
//----------------------------

//----------------------------
// 3. ТОЧКИ ПЕРЕКЛЮЧЕНИЯ
$lib-breakpoints: (
	normal:		'1200px',	//Site-width 1170
	narrow:		'992px',	// Site-width 970
	mobile:		'768px',	// Site-width 750
	mobileXL:	'700px',	// Site-width ...
	mobileL:	'600px',	// Site-width ...
	mobileM:	'540px',	// Site-width ...
	mobileS:	'460px',	// Site-width ...
	mobileXS:	'360px',	// Site-width ...
);
//----------------------------

//----------------------------
// 4. ШИРИНА САЙТА
$lib-width-container-large  : 1170px;
$lib-width-container-normal : 970px;	// -> breakpoints:normal
$lib-width-container-narrow : 750px;	// -> breakpoints:narrow
$lib-width-container-mobile : 100%; 	// -> breakpoints:mobile
$lib-min-width			 	: 320px;
//----------------------------

//----------------------------
// 5.  ШРИФТ
// 5.1 Семейство шрифта
$lib-font-family : OpenSansRegular, sans-serif;

// 5.2 Размер шрифта
$lib-font-size : 16px;

$lib-type-scale : (
		-5: 0.688rem, //    16px -> 11px
		-4: 0.75rem, //     16px -> 12px    smaller text    /smaller subheading
		-3: 0.815rem, //    16px -> 13px    small text
		-2: 0.875rem, //    16px -> 14px    normal text     /small subheading
		-1: 0.938rem, //    16px -> 15px
		0: 1rem, //         16px -> 16px    big text        /small heading
		1: 1.125rem, //     16px -> 18px    very big text   /heading
		2: 1.375rem, //     16px -> 22px                    /big heading
		3: 1.875rem, //     16px -> 30px                    /main heading
		4: 1.875rem, //     16px -> 30px                    /main heading

		//Extend fonts
		e0: 1.063rem, //    16px -> 17px
		e1: 1.188rem, //    16px -> 19px
		e2: 1.25rem, //     16px -> 20px
		e3: 1.688rem, //    16px -> 27px
		e4: 2.125rem //     16px -> 34px
);

$lib-font-size-base : lib-font-size(0);
$lib-font-size-input : lib-font-size(-2);

// 5.3 Насыщенность шрифта
$lib-font-weight-normal: 400;
$lib-font-weight-bold: 700;

// 5.4 Цвет шрифтов
$lib-color-main-title : lib-color(accent-base);
$lib-color-big-title : lib-color(secondary-dark);
$lib-color-title : lib-color(secondary-dark);
$lib-color-text : lib-color(primary-darker);
//----------------------------

//----------------------------
// 6.  СТРОКА
// 6.1 Высота строки
$lib-line-height-base : ($lib-font-size-base * 1.25);

$lib-line-heights : (
		-5: $lib-line-height-base,
		-4: $lib-line-height-base,
		-3: $lib-line-height-base,
		-2: $lib-line-height-base,
		-1: $lib-line-height-base,
		0: $lib-line-height-base,
		1: ($lib-line-height-base * 1.125),
		2: ($lib-line-height-base * 1.375),
		3: ($lib-line-height-base * 1.875),

		//Extend lines
		e0: ($lib-line-height-base * 1.063),
		e1: ($lib-line-height-base * 1.188),
		e2: ($lib-line-height-base * 1.25)
);

// 6.2 Верхний отсуп строки
$lib-padding-top-base : $lib-font-size-base * 1.25;

$lib-padding-top : (
		-5: $lib-padding-top-base * 0.688,
		-4: $lib-padding-top-base * 0.75,
		-3: $lib-padding-top-base * 0.815,
		-2: $lib-padding-top-base * 0.875,
		-1: $lib-padding-top-base * 0.938,
		0: $lib-padding-top-base * 1,
		1: $lib-padding-top-base * 1.125,
		2: ($lib-padding-top-base * 1.375),
		3: ($lib-padding-top-base * 1.875)
);
//----------------------------

//----------------------------
// 7. Параметры z-оси
$lib-z-indexes: (
		"wrapper-cover",//для блока перекрывающего wrapper при открытом меню
		"modal",
		"fixed",
		"popup",
		"header-basket",
		"header-control",
		"header-banner",
		"header-info",
		"header",
		"aside",
		"page",
		"footer"
);
//----------------------------