//Импорт файлов
@import 'modal-delivery-variables';
//-------------------------------

#{$wrapper} {
	//класс фреймворка bootstrap
	.modal-dialog {
		width : 420px;
	}
	//класс фреймворка bootstrap
	.modal-header {
		padding : 0;
	}

	@at-root {
		#{$delivery-close} {
			@include lib-close;
		}

		#{$delivery-text} {
			color     : $color-text;
			font-size : lib-font-size(3);
		}
	}

}