<ol class="su-breadcrumb">
	<li class="su-breadcrumb_item">
		<a class="su-breadcrumb_link" href="#">Главная</a>
	</li>
	<li class="su-breadcrumb_item">
		<a class="su-breadcrumb_link" href="#">Каталог товаров</a>
	</li>
	<li class="su-breadcrumb_item">
		<a class="su-breadcrumb_link" href="#">Маникюрный инструмент</a>
	</li>
	<li class="su-breadcrumb_item">Маникюрные кусачки</li>
</ol>