<input class="su-btn" type="button" value="Кнопка 'input' с type='button'">
<button class="su-btn" type="button">Кнопка 'button' с type='button'</button>
<button class="su-btn _su-buy">Купить</button>