<div class="su-field-spinner">
	<div class="su-field-spinner_block">
		<span class="su-field-spinner_prefix"></span>
		<input class="su-field-spinner_input" type="text" name="#" value="1" required="">
		<span class="su-field-spinner_postfix"></span>
	</div>
</div>