<a class="su-link-btn" href="#">Заказать</a>
<a class="su-link-btn _su-buy" href="#">Купить</a>
<a class="su-link-btn _su-comment" href="#">Оставить отзыв</a>
<a class="su-link-btn _su-favorites" href="#">В избранное</a>
<a class="su-link-btn _su-vk" href="#">Войти через Вконтакте</a>
<a class="su-link-btn _su-fb" href="#">Войти через Facebook</a>
<a class="su-link-btn _su-bestsellers" href="#">Хиты продаж</a>
<a class="su-link-btn _su-sale" href="#">Распродажа</a>