<h4 class="su-title-complex">
	<span class="su-title-complex_text1">Первая часть заголовка</span>
	<span class="su-title-complex_text2">вторая часть загловка (h1 - h6 не влияют на размер)</span>
</h4>