//Цвета
$bg-comments-list : lib-color(primary-lighter);
$bg-comment-hover : lib-color(accent-lighter);
$color-item-border : lib-color(primary-base);
$color-img-border : lib-color(primary-base-light);
$bg-viewed : lib-color(primary-lighter);
$bg-viewed-hover : lib-color(accent-lighter);
$bg-viewed-view : lib-color(primary-lighter);
$color-viewed-border : lib-color(primary-base-light);
$color-viewed-shadow : lib-color(primary-dark);
$color-viewed-title : lib-color(secondary-base);
$color-viewed-price : lib-color(accent-base-bright);
$color-viewed-price-hover : lib-color(secondary-dark);
//-------------------------------

//Классы
$wrapper : lib-get-class('sidebar-viewed');
$viewed-offer : lib-get-class('viewed-offer');
$list : lib-get-class('list');
$viewed : lib-get-class('viewed');
$viewed-title : lib-get-class('viewed-title');
$viewed-description : lib-get-class('viewed-description');
$viewed-price : lib-get-class('viewed-price');
$preview : lib-get-class('preview');
$link-img : lib-get-class('link-img');
$block : lib-get-class('block');
$detail : lib-get-class('detail');
$link : lib-get-class('link');
//-------------------------------

#{$wrapper} {
	position      : relative;
	padding       : 8px 5px;

	border-radius : 5px;
	background    : url('../../../../../img/bg_5.jpg');
	box-shadow    : inset 0 1px 2px rgba(0, 0, 0, .16);

	&_title {
		position  : absolute;
		top       : 0;
		left      : 0;
		padding   : 12px 24px 0 12px;
		width     : 100%;
		z-index   : 3;

		font-size : lib-font-size(1);
	}
	&_list#{$list} {
		position : relative;
		height   : 350px;
		width    : 100%;

		//Если отключены скрипты, это правило позволит отобразить обычный скролл
		overflow : auto;

		@include mix-override-jscrollpane();

		#{$list}_item {
			margin     : 0 8px;
			padding    : 0;

			border-top : 1px solid $color-item-border;
			&:first-child {
				margin-top : 40px;

				border-top : none;
			}
		}
	}
	#{$viewed} {
		position         : relative;
		padding          : 15px 0;
		width            : 100%;

		background-color : $bg-viewed;
		&:hover {
			background : $bg-viewed-hover;
			#{$viewed-description} {
				#{$viewed-title}#{$block},
				#{$viewed-price}#{$detail} {
					@include lib-text-blackout-change;
				}
			}
		}
		&_preview#{$preview} {
			position : absolute;
			z-index  : 1;
			#{$preview}_link#{$link-img} {
				@include lib-link-img-param(
					$border : $color-img-border,
					$height : 65px
				);
			}
		}
	}
	#{$viewed-description} {
		position     : relative;
		padding-left : 72px;
	}

	#{$viewed-title}#{$block} {
		position  : relative;
		height    : 40px;
		width     : 135px;

		font-size : lib-font-size(-3);
		overflow  : hidden;

		@include lib-text-blackout(
			$height : 20px,
			$width : 15px
		);

		#{$block}_element#{$link} {
			color           : $color-viewed-title;
			font-size       : lib-font-size(-2);
			font-family     : 'OpenSansBold', sans-serif;
			text-decoration : none;
		}
	}

	#{$viewed-price}#{$detail} {
		position    : relative;
		padding-top : 5px;

		text-align  : right;
		color       : $color-viewed-price;

		@include lib-text-hyphens($type : lastClip);
		@include lib-text-blackout;

		#{$detail}_value {
			font-weight : $lib-font-weight-bold;
		}
	}
}
