//Импорт файлов
@import 'blocks/breadcrumb';
//-------------------------------

//Классы
$wrapper : lib-get-class('content-header');
$banner-block : lib-get-class('banner-block');
$breadcrumb : lib-get-class('breadcrumb');
//-------------------------------

#{$wrapper} {
	@include mix-content-common-param(
		$padding-top: 0,
		$padding-bottom: 0
	);
	#{$banner-block},
	#{$breadcrumb} {
		margin-top : 20px;
	}
	#{$breadcrumb} {
		@include lib-respond-to(narrow) {
			#{$breadcrumb}_item {
				&:before {
					top : -2px
				}
			}
		}
	}
}