//Классы
$wrapper : lib-get-class('grid-2');
$_aside-right : lib-get-modifier('aside-right');
//-------------------------------

#{$wrapper} {
	&_container {
		$padding: 10px;

		position : relative;
		margin   : 0 auto;
		padding  : $padding;
		width    : $lib-width-container-normal;

		@include lib-respond-to(normal) {
			width : $lib-width-container-narrow;
		}
		@include lib-respond-to(narrow) {
			width : $lib-width-container-mobile;
		}
		@extend %lib-clearfix;

		@at-root {
			@include lib-grid-param (
				$grid-class: $wrapper,
				$padding-container-px: $padding,
				$width-container-px: $lib-width-container-normal,
				$width-aside-px: 250px,
				$aside-float: left,
				$content-float: left
			);
			@include lib-respond-to(normal) {
				@include lib-grid-param (
					$grid-class: $wrapper,
					$padding-container-px: $padding,
					$width-container-px: $lib-width-container-narrow,
					$width-aside-px: 250px,
					$aside-float: only-width
				);
			}
			@include lib-respond-to(narrow) {
				@include lib-grid-param (
					$grid-class: $wrapper,
					$padding-container-px: $padding,
					$width-container-px: $lib-width-container-mobile,
					$width-aside-px: 180px,
					$aside-float: only-width
				);
			}
			@include lib-respond-to(mobile) {
				@include lib-grid-param (
						$grid-class: $wrapper,
						$content-float: only-full-width
				);
			}
		}

	}
	#{$wrapper}_aside#{$_aside-right} {
		float: right;
	}
}