//Цвета
$bg-wrapper : lib-color(primary-lighter);
//-------------------------------

//Классы
$wrapper : lib-get-class('wrapper');
$wrapper-header : lib-get-class('wrapper-header');
$wrapper-sections : lib-get-class('wrapper-sections');
$wrapper-footer : lib-get-class('wrapper-footer');
$wrapper-popup : lib-get-class('wrapper-popup');
$wrapper-fixed : lib-get-class('wrapper-fixed');
$wrapper-modal : lib-get-class('wrapper-modal');
$header-info : lib-get-class('header-info');
$footer : lib-get-class('footer');
$footer-contacts : lib-get-class('footer-contacts');
$footer-contacts-list : lib-get-class('footer-contacts-list');
$detail : lib-get-class('detail');
$list : lib-get-class('list');
$_basket : lib-get-modifier('basket');
$_menu : lib-get-modifier('menu');
//-------------------------------

#{$wrapper} {
	background : $bg-wrapper;
	width      : 100%;
	&#{$_basket} {
		#{$wrapper-header} {
			#{$header-info} {
				padding-top : 0;
				height      : 100px;
			}
		}
		#{$wrapper-footer} {
			#{$footer} {
				&_cell {
					width : 100%;
					#{$footer-contacts} {
						margin-left : 0;

						text-align  : left;
						&_phones#{$detail} {
							display : inline-block;
							#{$detail}_label {
								float       : left;

								line-height : lib-line-height(-2);
							}
							#{$detail}_value {
								float : left;
								#{$footer-contacts-list}#{$list} {
									margin-top : 0;
									#{$list}_item {
										float       : left;
										margin-left : 8px;
									}
								}
							}
						}
						&_schedule {
							text-align : left;
							br {
								display : none;
							}
						}
					}
				}
			}
		}
		// првила необходимые для корректной работы меню в мобильной версии
		&#{$_menu} {
			@include lib-respond-to(mobile) {
				position     : fixed;
				padding-left : 260px;
				&:after {
					content    : '';
					display    : block;
					position   : absolute;
					top        : -10px;
					left       : 260px;
					width      : 100%;
					height     : 100%;
					z-index    : lib-z(wrapper-mobile-after);

					background : transparent;
					cursor     : pointer;
				}
			}
		}

		@at-root {
			#{$wrapper-header} {
				position : relative;
				width    : 100%;
				z-index  : lib-z('header');
			}

			#{$wrapper-sections} {
				position : relative;
				width    : 100%;
				z-index  : lib-z('page');
			}

			#{$wrapper-footer} {
				position   : relative;
				width      : 100%;
				z-index    : lib-z('footer');

				background : url('../../../img/bg_4.jpg') center top repeat-x;
			}

			#{$wrapper-popup} {
				position : absolute;
				top      : 0;
				left     : 0;
				width    : 100%;
				z-index  : lib-z('popup');
			}

			#{$wrapper-fixed} {
				display : none;
				z-index : lib-z('fixed');
			}

			#{$wrapper-modal} {
				z-index : lib-z('modal');
			}
		}

	}
}