{% if typeTwig == 'php' %}
	{% set pathAboutStore = 'templates/pages/' %}
{% endif %}

{% extends (typeTwig == 'php') ? 'templates/layout/template_grid-2.twig' : '../layout/template_grid-2.twig' %}

{% block content %}

	<div class="su-about-store">
		<h1>О магазине</h1>

		<p>
			<b>Маникюр Шоп — красота ради бизнеса или бизнес ради красоты? Откровенная история о нас.</b>
		</p>

		<p>
			Вы открыли эту страницу, а значит, вам не безразлично не только что покупать, но и у кого. Спасибо вам за неравнодушие и интерес, не зря мы зарабатывали свою многолетнюю репутацию, ведь сейчас она нам очень пригодится, с ее помощью мы добьемся и вашего доверия.
		</p>

		<p>
			<b>Кто мы?</b> «Маникюр Шоп — это
			<nobr>интернет-магазин</nobr>
			с товарами для маникюра, педикюра, ухода за волосами, телом и лицом с доставкой по всей России» — это официальный ответ на поставленный вопрос. Это тот ответ, который принято давать на обычных
			<nobr>интернет-разделах</nobr>
			«о нас», и это то, что говорят те, кому либо больше пока нечего рассказать о себе, либо те, кто не хотел бы раскрывать вам о себе в принципе. Но, согласитесь, что публичность всегда лучше тайн и темных прикрытых сторон фирм, верно?
		</p>

		<p>
			Когда мы анализируем Рунет на предмет новых проектов в ногтевой индустрии или индустрии красоты в целом, то сразу становится любопытно, кто стоит за тем или иным сайтом, поэтому мы понимаем и даже поддерживаем ваш «живой» интерес к нам.
		</p>

		<p>
			Кто стоит за сайтом Маникюр Шоп? Кто его придумал? Кто поддерживает этот проект, и кто вдыхает в него «жизнь»? Возможно, Маникюр Шоп — это
			<nobr>мега-корпорация</nobr>
			с гигантским количеством сотрудников, которых так много, что они не знают друг друга в лицо. Или может это всего лишь один человек, который сделал сайт «на коленке» и продает товары прямо из своей квартиры, не сильно переживая по поводу документов, сертификатов, качества и так далее, и, конечно, совсем не беспокоится о неуплате налогов.
		</p>

		<p>
			Правда — это не первое и не второе. Маникюр Шоп — это семья! Вы только не подумайте, что сейчас начнутся высокопарные фразы о том, что наши клиенты нам как братья и сестры и поэтому мы с вами семья, нет. Наши клиенты, то есть вы для нас, безусловно, очень важны и даже близки, мы с вами очень похожи: схожие вкусы в стиле и красоте, общие взгляды на жизнь, мы понимаем юмор друг друга и у нас много общих тем, но все же мы не родственники. Поэтому было бы странно и нечестно так это обставлять, верно? Говоря о том, что Маникюр Шоп — это семья, мы имеем в виду семью в ее обычном понимании, и мы впервые заявляем об этом открыто. Все как то стеснялись, считали, что это не солидно и так далее. А сейчас, когда мы прочно стоим на ногах и когда наша организация
			разрослась до внушительных размеров, мы стали проще, более открытыми и ближе к людям. Мы перестали смущаться, стали смелее и готовы быть максимально публичными. Итак, теперь вы знаете, что <b>Маникюр Шоп — это семейный бизнес!</b> Сейчас мы говорим об этом с гордостью, ведь добились мы так много именно потому что мы вместе!
		</p>

		<p>
			<b>Почему семейный бизнес нынче в моде?</b> Вы заметили сегодняшний спрос на семейные бизнесы, будь то хлебная лавка или юридическая контора? Мир с удовольствием и рьяно обращается за услугами именно в те, компании, которые основаны на семейных узах. Почему? Да потому, что все мы прекрасно понимаем, лучше всего работает тот, кто «кровно» заинтересован в высоких продажах и прибылях. И пусть это звучит немного материально, но так оно и есть. И, при этом, этот «кровно» заинтересованный, выполняет свои обязанности не роботично и не на автомате, а внимательно и с душой. На личном опыте можем сказать, что только будучи «заженным» или даже зараженным изнутри идеей об общем преуспевании, можно передать эту искру вновь прибывшим на борт. Мы так и делаем. Все наши сотрудники ответственны, внимательны и дружелюбны. Они честны, порядочны и они
			трудоголики. Вся наша команда позитивно помешана на маникюре, косметике и красоте в целом, поэтому мы всегда готовы к профессиональной консультации, так что смело звоните!
		</p>

		<p>
			<b>Наша профессиональная пригодность.</b> Мы знаем о ногтях все. А когда мы
			<nobr>чего-то</nobr>
			не знаем, то звоним в колокол, который висит в офисе в знак нашего позора. Затем через порку и десятидневное голодание мы наказываем провинившегося, а чаще всего провинившуюся. Виновная сразу все понимает и, совсем худая, а от того счастливая открывает нашу же книгу о маникюре <a href="http://manicurshop.ru/pro_manikyur/" spfieldtype="null">«ПРО Маникюр»</a>, узнает оттуда все необходимые данные и становится профи. Надеемся, вы понимаете, что это шутка, что на самом деле мы никого не истязаем, но с образованием в сфере красоты у нас, действительно, строго. Кстати, книга «ПРО Маникюр» уже достаточно узнаваема в Российском интернете. Еще бы, ведь о ней смело сказать — «кладезь ногтевой индустрии»! Масса полезной информации и абсолютно бесплатно. На данное время ее прочли уже более 30245 человек и это число постоянно растет. Можете
			получить ее и вы, она <a href="http://manicurshop.ru/pro_manikyur/" spfieldtype="null">в открытом доступе.</a>
		</p>

		<p>
			<b>Мы популярны и мы знаем об этом!</b> Быть не скромными, наверное, не хорошо, но утаивать успех уж очень не хочется, поэтому долой «вуаль», будем откровенны. Мы знаем, что мы вам нравимся, и мы отдаем себе отчет в том, за что вы предпочитаете нас другим:
		</p>

		<ul>
			<li>всегда отличное качество, купив, будете использовать очень долго;</li>

			<li>быстрая и недорогая доставка;</li>

			<li>максимально полные и «умные» консультации, вам не дадут заказать «не то»;</li>

			<li>удобный сайт и интуитивно понятное меню, сразу найдете то, что искали.</li>
		</ul>

		<p>
			Знаете, как мы узнали о том, насколько мы известны и популярны? В таких вещах мы основываемся не только на ваших многочисленных радушных отзывах на сайте, но и на голых цифрах, таких как: количество звонков в течение одного часа или количества заказов за день. На настоящий момент количество обрабатываемых нами заказов в день достигло такого уровня, что совсем скоро, наш штат пополнят еще несколько увлеченных единомышленников. Точную цифру писать не будем не только
			<nobr>из-за</nobr>
			коммерческого секрета, но и 
			<nobr>из-за</nobr>
			чисто гуманных соображений, ведь если наши «конкуренты» узнают о ней, они очень расстроятся. А мы не хотим никого расстраивать, мы за здоровую конкуренцию. Дух соперничества — это интересно, особенно когда часто побеждаешь! В общем, не будем хвастаться, но заказов на Маникюр Шоп действительно много, очень много и спасибо ВАМ за это!
		</p>

		<p>
			Да, пора поблагодарить и откланяться. Мы, правда, признательны вам за ваш выбор и за ваше доверие. Нам очень приятно, когда вы приходите, звоните, заказываете. Мы помним и любим всех наших старинных клиентов, которые с нами со времен первого магазина, открытого в 2003 году, и тех, кто впервые пришел к нам в 2006 и в последующие годы. А если вы еще не знакомы с нами лично, если вы просто случайно зашли на наш сайт в поисках пилочки или крема для рук, то сейчас самое время встретиться с нами лицом к лицу. Сделайте свой первый заказ, и мы сразу вам позвоним и оговорим время доставки. Вы обязательно станете нашим постоянным клиентом, обещаем. А лет так через 10–15, когда наши дети унаследуют наш бизнес, они позвонят вашим и скажут: «Добрый день, меня зовут Мария, и я звоню, чтобы подтвердить ваш заказ».
		</p>

		<p>
			<b>Маникюр Шоп — магазин красоты для вашей семьи. Из поколения в поколение!</b>
		</p>
	</div>

{% endblock %}

{% block wrapper_fixed %}
{% endblock %}

{% block script %}
	{{ parent() }}
	<!-- СКРИПТЫ ДЛЯ ВЕРСТКИ -->
	<script>
		//------------------------------------------------------------
		//............................................................
		//------------------------------------------------------------
	</script>
	<!-- /СКРИПТЫ ДЛЯ ВЕРСТКИ -->
{% endblock %}