{% if typeTwig == 'php' %}
	{% set pathBasketStep1 = 'templates/' %}
{% else %}
	{% set pathBasketStep1 = '../' %}
{% endif %}

{% extends (typeTwig == 'php') ? 'templates/layout/connect/wrapper.twig' : '../layout/connect/wrapper.twig' %}


{% block wrapper_sections %}

	<div class="su-basket">
		{% include pathBasketStep1~'modules/basket-header.twig' %}
		{% include pathBasketStep1~'modules/basket-steps.twig' %}
		<div class="su-basket-tab">
			<div class="su-order-card">
				<form class="su-order-card_form" action="#" method="post">
					<ul class="su-order-card-list su-list">

						{% for row in orders %}
							<li class="su-list_item">
								{% include pathBasketStep1~'modules/order.twig' with {overrideClassOrder: 'su-list_order'} %}
							</li>
						{% endfor %}

					</ul>
					<div class="su-order-card-cost">
						<dl class="su-cost-order su-detail">
							<dt class="su-detail_label">Общая стоимость:</dt>
							<dd class="su-detail_value su-currency">10 000</dd>
						</dl>
					</div>
					<div class="su-order-card-button su-block">
						<button class="su-block_element su-btn _su-buy">Купить</button>
					</div>
					<div class="su-order-card-hint">* Воспользоваться сертификатом на скидку можно на этапе заказа</div>
					<div class="su-order-card-one-click su-block">
						<a class="su-block_element su-link" data-toggle="modal" data-target=".su-modal-application">Оформить заказ в 1 клик</a>
					</div>
				</form>
			</div>
			<div class="su-special-offers">
				<h2 class="su-special-offers_title">Специальное предложение</h2>
				<div class="su-special-offers_text">Только с эти заказом вы можете приобрести по специальной цене</div>
				<ul class="su-special-offers_list su-list">

					{% for row in specialOffers %}
						<li class="su-list_item">
							{% include pathBasketStep1~'modules/offer.twig' with {overrideClassOffer: 'su-special-offer'} %}
						</li>
					{% endfor %}

				</ul>
			</div>
		</div>
	</div>

{% endblock %}

{% block script %}
	{{ parent() }}
	<!-- СКРИПТЫ ДЛЯ ВЕРСТКИ -->
	<script>
		//------------------------------------------------------------
		//............................................................
		//------------------------------------------------------------
	</script>
	<!-- /СКРИПТЫ ДЛЯ ВЕРСТКИ -->
{% endblock %}