{% if typeTwig == 'php' %}
	{% set pathCatalog = 'templates/' %}
{% else %}
	{% set pathCatalog = '../' %}
{% endif %}

{% extends (typeTwig == 'php') ? 'templates/layout/connect/grid-2.twig' : '../layout/connect/grid-2.twig' %}


{% block content %}

	<div class="su-catalog">
		<h1 class="su-catalog_title">Каталог товаров</h1>
		{% include pathCatalog~'pages-common/modules/tile.twig'
			with {
				overrideClassTile: 'su-catalog_sections',
				dataTile: catalog
			}
		%}
		{% include pathCatalog~'pages-common/modules/tile-offers.twig'
			with {
				overrideClassTile: 'su-catalog_popular',
				dataTile: popular,
				tileTitle: 'Самое популярное в этом разделе'
			}
		%}
	</div>

{% endblock %}

{% block script %}
	{{ parent() }}
	<!-- СКРИПТЫ ДЛЯ ВЕРСТКИ -->
	<script>
		//------------------------------------------------------------
		// ...........................................................
		//------------------------------------------------------------
	</script>
	<!-- /СКРИПТЫ ДЛЯ ВЕРСТКИ -->
{% endblock %}