{% if typeTwig == 'php' %}
	{% set pathContract = 'templates/pages/' %}
{% endif %}

{% extends (typeTwig == 'php') ? 'templates/layout/template_grid-2.twig' : '../layout/template_grid-2.twig' %}


{% block content %}

	<div class="su-contract">
		<h1 class="su-contract_title">ПУБЛИЧНАЯ ОФЕРТА интернет-магазина Маникюр Шоп (предложение о заключении договора розничной купли-продажи дистанционным способом)</h1>

		<ol class="su-contract_description su-list-multilevel">
			<li>
				<h2>Общие положения</h2>
				<ol>
					<li>
						Данный документ, расположенный на сайте www.manicurshop.ru. ru, является официальным предложением (публичной Офертой в соответствии с п. 1 ст. 435 и п. 2 ст. 437 Гражданского Кодекса РФ) Индивидуального предпринимателя Кохан Вадима Игоревича (в дальнейшем именуемого «Продавец») и содержит все существенные условия продажи, оплаты, доставки, возврата и обмена товаров, представленных на сайте Продавца по адресу www.manicurshop. ru.
					</li>
					<li>
						В соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации (ГК РФ) в случае принятия изложенных ниже условий и оплаты услуг, юридическое или физическое лицо, производящее акцепт этой оферты становится Покупателем (в соответствии с п. 1 и п. 3 ст. 438 ГК РФ акцепт оферты равносилен заключению договора на условиях, изложенных в Оферте), а Продавец и Покупатель совместно — сторонами Договора Оферты. Акцепт данного Договора Оферты осуществляется Покупателем при оформлении Заказа на Сайте Интернет-Магазина Продавца путем нажатия кнопки «Оформить заказ» или при оплате товара в случае, если Покупатель не является получателем товара.
					</li>
					<li>
						Покупатель обязуется внимательно прочитать текст данной Оферты. Если Покупатель не согласен с ее условиями, или с каким-либо пунктом условий, Продавец предлагает Покупателю отказаться от заключения Договора Оферты и использования услуг Продавца.
					</li>
				</ol>
			</li>
			<li>
				<h2>Термины и определения</h2>
				<ol>
					<li>
						Покупатель — физическое или юридическое лицо, размещающее Заказы на сайте www.manicurshop. ru, либо указанное в качестве получателя Товара. Соглашаясь с условиями Оферты, Покупатель подтверждает, что он является дееспособным гражданином, достигшим 18 лет, или представителем действующей компании, имеющим необходимые документы для действия от имени данного юридического лица.
					</li>
					<li>
						Продавец — ИП Кохан В.И.
					</li>
					<li>
						Интернет-магазин — официальный интернет-магазин Продавца, расположенный по адресу в сети Интернет www.manicrushop. ru. На нем представлены товары, предлагаемые Продавцом своим Покупателям, а также условия доставки, оплаты, возврата и обмена этих Товаров.
					</li>
					<li>
						Сайт — www.manicurshop.ru
					</li>
					<li>
						Заказ — Должным образом оформленный запрос Покупателя на доставку по указанному адресу Товаров, размещенный Покупателем самостоятельно на Сайте или по телефону.
					</li>
					<li>
						Товар — объект соглашения сторон, перечень наименований ассортимента, представленный на официальном интернет-магазине.
					</li>
					<li>
						В настоящей Оферте могут быть использованы термины, не определенные в п.2. В этом случае толкование такого термина производится в соответствии с текстом настоящей Оферты. В случае отсутствия однозначного толкования термина в тексте Оферты следует руководствоваться толкованием термина: в первую очередь — на веб-сайте Продавца www.manicurshop. ru; во вторую очередь — сложившимся в сети Интернет.
					</li>
				</ol>
			</li>
			<li>
				<h2>Предмет договора оферты</h2>
				<ol>
					<li>
						Предметом настоящего Договора Оферты является продажа Покупателю товаров, представленных на сайте Продавца, согласно размещенному Заказу Покупателя. Продавец обязуется продать, а Покупатель обязуется принять и оплатить Товар по ценам, указанным в описании Товара на соответствующей странице Сайта Продавца, на условиях настоящей Оферты, действующая редакция которой размещена на Сайте Продавца.
					</li>
				</ol>
			</li>
			<li>
				<h2>ПОРЯДОК ПРИОБРЕТЕНИЯ ТОВАРОВ</h2>
				<ol>
					<li>
						Оформив заказ, клиент подтверждает ознакомление и принятие оферты. Покупатель несет ответственность за достоверность предоставленной при оформлении регистрации и Заказа информации. В противном случае Продавец не несет ответственности за несвоевременную доставку.
					</li>
					<li>
						Покупатель Интернет-магазина имеет право оформить Заказ на любой Товар, представленный на Сайте и имеющийся в наличии на складе Продавца. Осуществляя Заказ на Сайте Интернет-магазина, Покупатель принимает на себя обязательства по оплате Заказа/Товара и его приемке, а Продавец принимает обязательства по доставке и передаче в собственность Покупателя оплаченного Заказа/Товара.
					</li>
					<li>
						Заказы принимаются Продавцом через систему принятия Заказов, интегрированную в Сайт Продавца, а также по телефону.
					</li>
					<li>
						Продавец вправе ограничить количество Товаров, которое покупатель оформляет в Заказе, проинформировав об этом Покупателя.
					</li>
					<li>
						После получения Заказа Продавец предоставляет ответственного менеджера, который от лица Продавца согласовывает с Покупателем все существенные условия, в том числе условия доставки, стоимость заказа и условия оплаты Товара.
					</li>
					<li>
						При отсутствии Товара на складе Продавца Продавец обязан проинформировать об этом Покупателя в письменной (посредством электронной почты) или устной форме (посредством телефонной связи). В этом случае Покупатель вправе заменить отсутствующий Товар аналогичным Товаром, отказаться от данного Товара, отменить Заказ.
					</li>
					<li>
						Покупатель вправе полностью или частично отказаться от приобретения Товара в любой момент до оплаты Товара, поставив в известность Продавца через специальные инструменты, встроенные в систему оформления Заказов Сайта, по электронной почте с адреса, указанного Покупателем при регистрации на Сайте или оформлении заказа, а также по телефону или при доставке Товаров представителем службы доставки (собственной или работающей по договору с Продавцом).
					</li>
					<li>
						Продавец оставляет за собой право в одностороннем порядке прекратить прием Заказов от Покупателя и отгрузку Товаров Покупателю, а также ограничить предоставление права участия Покупателем в Акциях, проводимым Продавцом, если Покупатель систематически нарушает условия данного Договора Оферты или оказывает негативное влияние на работу Интернет-магазина путем чрезмерной загрузки служб Интернет-магазина.
					</li>
					<li>
						Подтверждения согласованных условий отгрузки, доставки и оплаты Товаров высылаются Продавцом по электронной почте.
					</li>
					<li>
						На основании полученного Заказа и согласованных условий Продавец отгружает Товар Покупателю.
					</li>
				</ol>
			</li>
			<li>
				<h2>Обработка и хранение персональной информации</h2>
				<ol>
					<li>
						При регистрации или оформлении заказа Покупатель обязуется предоставить о себе следующую информацию: фамилия, имя, отчество, пол, дату рождения, место (город, населенный пункт) проживания, адрес электронной почты, контактный телефон, пароль для доступа к Сайту (раздел «Вход в интернет-магазин»). Для корректной обработки Заказа и доставки Товара Покупатель указывает корректный адрес и желаемый интервал доставки.
					</li>
					<li>
						Продавец не несет ответственности за достоверность и содержание предоставленной Покупателем информации.
					</li>
					<li>
						Акцептируя настоящую оферту, Покупатель выражает согласие и разрешает ИП Кохан В.И., юридический адрес: г. Ростов-на-Дону ул. Вятская 63-35, ОГРН 316619600158508 (далее — Оператор) обрабатывать свои персональные данные, в том числе фамилию, имя, отчество, дата рождения, пол, место работы и должность, почтовый адрес; домашний, рабочий, мобильный телефоны, адрес электронной почты, включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу на территории Российской Федерации и трансграничную передачу), обезличивание, блокирование, уничтожение персональных данных, а также передачу их контрагентам Оператора с целью дальнейшей обработки (включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу на территории Российской Федерации и трансграничную передачу), обезличивание, блокирование, уничтожение персональных данных) для проведения исследований, направленных на улучшение качества услуг, для проведения маркетинговых программ, статистических исследований, а также для продвижения услуг на рынке путем осуществления прямых контактов с Покупателем с помощью различных средств связи, включая, но, не ограничиваясь: почтовая рассылка, электронная почта, телефон, факсимильная связь, сеть Интернет. Покупатель выражает согласие и разрешает Оператору и контрагентам Оператора обрабатывать персональные данные Покупателя, с помощью автоматизированных систем управления базами данных, а также иных программных средств, специально разработанных по поручению Оператора. Работа с такими системами осуществляется по предписанному оператором алгоритму (сбор, систематизация, накопление, хранение, уточнение, использование, блокирование, уничтожение). Используемые способы обработки (включая, но, не ограничиваясь): автоматическая сверка почтовых кодов с базой кодов, автоматическая проверка написания названий улиц населенных пунктов, автоматическая проверка действительности VIN и государственных регистрационных знаков, уточнение данных с Покупателем путем телефонной, почтовой связи с Покупателем или с помощью контакта через сеть Интернет, сегментация базы по заданным критериям. Покупатель соглашается с тем, что, если это необходимо для реализации целей, указанных в настоящей оферте, его персональные данные, полученные Оператором, могут быть переданы третьим лицам, которым Оператор может поручить обработку персональных данных Покупателя на основании договора, заключенного с такими лицами, при условии соблюдения требований законодательства Российской Федерации об обеспечении такими третьими лицами конфиденциальности персональных данных и безопасности персональных данных при их обработке. При передаче указанных данных Покупателя Оператор предупреждает лиц, получающих персональные данные Покупателя, о том, что эти данные являются конфиденциальными и могут быть использованы лишь в целях, для которых они сообщены, и требуют от этих лиц соблюдения этого правила. Покупатель вправе запросить у Оператора полную информацию о своих персональных данных, их обработке и использовании, а также потребовать исключения или исправления/дополнения неверных или неполных персональных данных, отправив соответствующий письменный запрос на имя Оператора на почтовый адрес. Данное Покупателем согласие на обработку его персональных данных является бессрочным и может быть отозвано посредством направления Покупателем письменного заявления в адрес Оператора на почтовый адрес.
					</li>
					<li>
						Информация о Покупателе может быть передана официальным органам строго в соответствии с требованиями законодательства РФ.
					</li>
					<li>
						Продавец имеет право направлять Покупателю рекламные или информационные сообщения. Покупатель имеет право отказаться от рекламно-информационных сообщений, написав запрос через форму обратной связи, размещенную на сайте или изменив настройки, перейдя по ссылке из рассылочного письма.
					</li>
				</ol>
			</li>
			<li>
				<h2>Цена товаров и условия оплаты</h2>
				<ol>
					<li>
						Оплата Товаров, заказанных Покупателем на Сайте Интернет-магазина, осуществляется в рублях путем передачи наличных денежных средств курьеру Продавца (собственному или работающему по договору с Продавцом) или иными способами оплаты, указанными на сайте (оплата электронными деньгами, банковский перевод, оплата банковской картой).
					</li>
					<li>
						Оплата Заказа включает стоимость Товаров и стоимость доставки Товаров по адресу, указанному Покупателем при оформлении Заказа.
					</li>
					<li>
						Цена Товара указывается на Сайте Интернет-магазина. Стоимость и условия доставки указаны в разделе Сайта «Доставка».
					</li>
					<li>
						В случае неверно указанной цены Продавец обязуется при первой возможности известить об этом Покупателя. При этом Покупатель имеет право отказаться от приобретения Товаров полностью или частично, следуя п. 5.7. настоящего Договора Оферты. При невозможности связаться с Покупателем Заказ считается отмененным.
					</li>
					<li>
						Продавец оставляет за собой право изменять цены в одностороннем порядке. При этом цена Товаров, заказанных Покупателем через Сайт, изменению не подлежит.
					</li>
					<li>
						Продавец оставляет за собой право менять размер предоставляемой скидки по дисконтной карте.
					</li>
				</ol>
			</li>
			<li>
				<h2>Условия доставки товара</h2>
				<ol>
					<li>
						Продавец осуществляет доставку Товаров, заказанных Покупателем, с помощью собственной или внешней службы доставки.
					</li>
					<li>
						Сроки и стоимость доставки указана на Сайте Продавца в разделе «Доставка». Стоимость доставки может варьироваться в зависимости от веса, размеров Товара, а так же региона и способа доставки.
					</li>
					<li>
						При передаче Товара Покупателю представитель службы доставки вправе потребовать документ, удостоверяющий личность Покупателя, в целях противодействия мошенничеству.
					</li>
					<li>
						Продавец обязуется приложить все возможные усилия для осуществления доставки Товара, заказанного Покупателем, в сроки, указанные на сайте. Тем не менее, Продавец не берет на себя ответственность за задержки, произошедшие не по вине Продавца.
					</li>
					<li>
						Право собственности на Товар и все риски, связанные с правом собственности, переходят к Покупателю в момент получения Товара Покупателем, что подтверждается подписью Покупателя в отгрузочных документах, подтверждающих доставку. Данная подпись служит подтверждением того, что Клиент не имеет претензий к комплектации заказа, к количеству и внешнему виду Товара.
					</li>
					<li>
						В случае изменения срока доставки Продавец обязуется немедленно информировать Покупателя об изменении условий доставки с целью получения согласия на новые условия выполнения Заказа в целом либо в части. Продавец информирует Покупателя посредством телефонной либо электронной связи.
					</li>
				</ol>
			</li>
			<li>
				<h2>Условия возврата товара</h2>
				<ol>
					<li>
						Покупатель при передаче Товара представителем службы доставки обязан проверить Товар на предмет следующих параметров: комплектности, соответствия артикулов передаваемого Товара и артикула в накладной, отсутствия внешних повреждений.
					</li>
					<li>
						В случае нарушений, указанных в п. 9.1., параметров Заказа по какому-либо из артикулов Покупатель имеет право отказаться от приобретения и оплаты Товара этого артикула. В случае частичного отказа от Товара Покупатель обязан оплатить полную стоимость доставки. В случае полного отказа от Товара, доставленного с нарушениями (п. 9.1.), Покупатель освобождается от оплаты стоимости доставки.
					</li>
					<li>
						В случае корректного выполнения Заказа Продавцом Покупатель имеет право полностью или частично отказаться от приобретения Товара при передаче Товара представителем службы доставки, оплатив при этом полную стоимость доставки, согласованную с Покупателем при оформлении Заказа на Сайте Продавца.
					</li>
					<li>
						Покупатель имеет право полностью или частично вернуть Товар надлежащего качества в течение четырнадцати календарных дней после получения Заказа/Товара от представителя службы доставки. Товар надлежащего качества должен иметь первоначальный внешний вид, комплектацию, упаковку, с которыми он был передан Покупателю при приемке.
					</li>
					<li>
						Продавец имеет право не принимать к возврату Товар, если Товар был в употреблении, при потере его товарного вида, обнаружении внешних повреждений товара, несоответствии номеров на товаре и упаковке, нарушении комплектности, а так же товарного и кассового чека.
					</li>
					<li>
						Покупатель имеет право вернуть Товар ненадлежащего качества в течение гарантийного срока длительностью 14-ть календарных дней со дня покупки. Под Товаром ненадлежащего качества понимается Товар, который неисправен и не может обеспечить выполнение своих функциональных качеств.
					</li>
					<li>Способы возврата товара:
						<ul>
							<li>
								Почтой России. Покупатель отправляет возврат посылкой с объявленной ценностью, без наложенного платежа. Посылки, отправленные наложенным платежом, не принимаются к возврату. В посылку необходимо вложить заполненное заявление на возврат.
								<a href="/docs/vozvrat_zayavlenie_1.rtf" target="_blank" rel="nofollow">Скачать бланк заявления о возврате. </a>
							</li>
							<li>
								Через пункт самовывоза. Покупатель приходит по адресу г. Москва ул. Планерная 7 с товаром, паспортом и заполненным заявлением на возврат.
								<a href="/docs/vozvrat_zayavlenie_1.rtf" target="_blank" rel="nofollow">Скачать бланк заявления о возврате.</a>
								<br>Либо заполнив заявление на месте.
							</li>
							<li>
								Через курьера. Курьер приезжает по адресу, указанному при оформлении заказа, забирает возвращаемый товар и заполненное заявление на возврат. При возврате товара надлежащего качества Покупатель обязан оплатить транспортные расходы, которые понесет Продавец при возврате Товара на склад. Стоимость возврата товара устанавливается индивидуально и сообщается Покупателю посредством электронной почты.
							</li>
						</ul>
					</li>
					<li>Способы возврата товара:
						<ul>
							<li>
								Наличными. Этот способ возврата возможен при возврате товара в пункт выдачи заказов при наличии паспорта и заполненного заявления на возврат (предоставляется в пункте выдачи).
							</li>
							<li>
								Банковским переводом. Для этого нужно заполнить заявление на возврат <a href="/docs/vozvrat_zayavlenie_1.rtf" target="_blank" rel="nofollow">Скачать бланк заявления о возврате</a> , заполнить необходимые реквизиты и отправить заполненное заявление на эл. адрес: admin@manicurshop. ru.
								<br>
								1. Наименование банка
								<br>
								2. Расчетный счет
								<br>
								3. Лорреспондентский счет
								<br>
								4. ИНН банка
								<br>
								5. БИК банка
								<br>
								6. Лицевой счет или номер карты
								<br>
								7. ФИО
							</li>
							<li>
								Почтовым переводом. Для этого нужно заполнить заявление на возврат, <a href="/docs/vozvrat_zayavlenie_1.rtf" target="_blank" rel="nofollow">Скачать бланк заявления о возврате</a> , указать полностью фамилию, имя и отчество заказчика и почтовый адрес с индексом, отправить заполненное заявление на эл. Адрес: admin@manicurshop. ru.
							</li>
						</ul>
					</li>
					<li>
						При возврате товара надлежащего качества (п. 9.4.) возвращаемая сумма денежных средств будет уменьшена на размер комиссии на перевод денежных средств на счет Покупателя или на выезд курьера для возврата денежных средств, а так же на стоимость возврата Товара от Покупателя обратно Продавцу. При возврате Товара ненадлежащего качества (п. 9.6.) Продавец возмещает Покупателю стоимость возвращаемого Товара, стоимость комиссии за перевод денежных средств (или выезд курьера) и на стоимость уплаченной потребителем доставки.
					</li>
					<li>
						При возврате товара надлежащего качества Покупатель обязуется также вернуть Продавцу все подарки, призы, переданные Покупателю с Товарами. Если Покупатель не возвращает Продавцу переданные подарки, призы, то Покупатель компенсирует их стоимость из суммы возвращаемых денежных средств или требует компенсации издержек в законном порядке. Так же Продавец имеет право уменьшить счет накопительной скидки или бонусов Покупателя в Интернет-магазине Продавца.
					</li>
				</ol>
			</li>
			<li>
				<h2>Ответственность сторон</h2>
				<ol>
					<li>
						За невыполнение или ненадлежащее выполнение обязательств по настоящему договору Стороны несут ответственность в соответствии с действующим законодательством РФ.
					</li>
					<li>
						Продавец не несет ответственности за невозможность обслуживания Покупателя по каким-либо независящим от него причинам, включая нарушение работы линий связи, неисправность оборудования, невыполнение обязательств поставщиков тех или иных услуг и т. п.
					</li>
					<li>
						В случае если по какой-либо причине Продавец не отгрузит Товар Покупателю или отгрузит Товар с нарушением сроков, ответственность Продавца за допущенное нарушение договора Оферты ограничивается исключительно продлением сроков доставки Товара.
					</li>
					<li>
						Продавец ни при каких обстоятельствах не несет никакой ответственности по Договору Оферты за:
						<ul>
							<li>
								какие-либо действия и/или бездействия, являющиеся прямым или косвенным результатом действий/бездействий каких-либо третьих сторон;
							</li>
							<li>
								какие-либо косвенные убытки и/или упущенную выгоду Покупателя и/или третьих сторон вне зависимости от того, мог Продавец предвидеть возможность таких убытков или нет;
							</li>
							<li>
								использование (невозможность использования) и какие бы то ни было последствия использования (невозможности использования) Покупателем выбранной им формы оплаты Товаров по договору Оферты.
							</li>
						</ul>
					</li>
					<li>
						Совокупная ответственность Продавца по договору Оферты, по любому иску или претензии в отношении договора Оферты или его исполнения, ограничивается суммой платежа, уплаченного Продавцу Покупателем по договору Оферты.
					</li>
					<li>
						Не вступая в противоречие с указанным выше, Продавец освобождается от ответственности за нарушение условий договора Оферты, если такое нарушение вызвано действием обстоятельств непреодолимой силы (форс-мажор), включая: действия органов государственной власти, пожар, наводнение, землетрясение, другие стихийные действия, отсутствие электроэнергии и/или сбои работы компьютерной сети, забастовки, гражданские волнения, беспорядки, любые иные обстоятельства, не ограничиваясь перечисленным, которые могут повлиять на выполнение Продавцом договора Оферты.
					</li>
					<li>
						Все споры и разногласия решаются путем переговоров Сторон. В случае если споры и разногласия не могут быть урегулированы путем переговоров, они передаются на рассмотрение Арбитражного суда г. Москвы.
					</li>
				</ol>
			</li>
			<li>
				<h2>Срок действия, изменение, расторжение договора оферты</h2>
				<ol>
					<li>
						Договор вступает в силу с момента, указанного в п.1.2 настоящей Оферты и действует до момента исполнения обязательств Сторонами.
					</li>
					<li>
						Признание судом недействительности любого из пунктов данного договора Оферты не влечет за собой недействительность других пункто
					</li>
					<li>
						Договор Оферты может быть расторгнут Покупателем только в случае существенного нарушения условий договора Оферты Продавцом в соответствии с действующим законодательством РФ и условиями Оферты.
					</li>
					<li>
						Договор Оферты может быть расторгнут Продавцом в любой момент по своему усмотрению посредством направления Заказчику соответствующего письменного уведомления в срок не позднее 5 (пяти) календарных дней до момента расторжения договора Оферты.
					</li>
				</ol>
			</li>
			<li>
				<h2>Гарантии</h2>
				<ol>
					<li>
						За исключением гарантий, прямо указанных в тексте Оферты, Продавец не предоставляет никаких иных прямых или косвенных гарантий по договору Оферты.
					</li>
					<li>
						Никакая информация или советы, даваемые Продавцом (ответственным менеджером Продавца) не могут рассматриваться как гарантии, поскольку являются консультациями.
					</li>
				</ol>
			</li>
			<li>
				<h2>Реквизиты продавца</h2>
				<p>
					ИП Кохан В.И.
					<br>
					Юр. адрес: 344065 г. Ростов-на-Дону ул. Вятская 63-35
					<br>
					ИНН: 616611480770
					<br>
					ОКПО: 0151270523
					<br>
					ОГРН: 316619600158508
					<br>
					Банк: ПАО АКБ «Авангард»
					<br>
					Расч. счет: 40802810300100001267
					<br>
					Корр. счет: 30101810000000000201
					<br>
					БИК: 044525201
				</p>
			</li>
		</ol>
	</div>

{% endblock %}

{% block wrapper_popup %}
{% endblock %}

{% block script %}
	{{ parent() }}
	<!-- СКРИПТЫ ДЛЯ ВЕРСТКИ -->
	<script>
		//------------------------------------------------------------
		//............................................................
		//------------------------------------------------------------
	</script>
	<!-- /СКРИПТЫ ДЛЯ ВЕРСТКИ -->
{% endblock %}