{% if typeTwig == 'php' %}
	{% set pathIndex = 'templates/' %}
{% else %}
	{% set pathIndex = '../' %}
{% endif %}

{% extends (typeTwig == 'php') ? 'templates/layout/connect/grid-2.twig' : '../layout/connect/grid-2.twig' %}


{% block content %}

	<div class="su-main">
		<h1>Маникюр Шоп: всё для ногтей</h1>
		<p>Добро пожаловать в профессиональный интернет-магазин с большим выбором высококачественных товаров для ногтей.</p>

		<p>Маникюр Шоп — профессиональный интернет-магазин по продаже материалов для ногтей. У нас представлен широкий выбор современных лаков известных брендов, маникюрных принадлежностей, инструментов и косметических средств.</p>

		<p>Начинающие мастера и профессионалы могут купить специально подготовленные наборы в которых уже есть всё необходимое, чтобы превратить Ваши ногти в настоящее произведение искусства.</p>

		<p>В нашем интернет-магазине удобно подобрать и купить все требуемые материалы для ногтей и ухода за ними. Покупайте только качественные средства для маникюра и педикюра. От этого зависит не только внешний вид ногтей, но и Ваше здоровье.&nbsp;</p>

		<p>В случае необходимости, наши менеджеры грамотно проконсультируют Вас по выбору продукции себе или в подарок.</p>

		<p>Понравившийся товар можно купить и забрать в нашем офисе продаж в Москве, либо оформить заказ и доставку через интернет-магазин.</p>

		<h2 class="su-title-complex">
			<span class="su-title-complex_text1">Лучшие мужские</span>
			<span class="su-title-complex_text2">маникюрные наборы!</span>
		</h2>

		<p>Ищите мужской маникюрный набор, но не знаете какой выбрать? Моделей так много и вы запутались в ассортименте? Выход есть! Мы подобрали 6 оптимальных маникюрных наборов, которые мужчины приобретают себе чаще всего: небольшое количество инструментов без лишних предметов, отличные режущие свойства и надежное качество. Вам остается лишь заказать наиболее понравившийся.</p>

		<p>Мы сделали скидку на эти маникюрные наборы, чтобы вы могли заказать сразу несколько штук! Ведь скоро 23 февраля, поэтому закажите маникюрные наборы каждому близкому мужчине прямо сейчас!</p>

		{% include pathIndex~'pages-common/modules/tile.twig' with {overrideClassTile: 'su-main_offer', dataTile: mineOffer, tileMore: 'посмотрите все товары'} %}

		<h2>Что скрывают профи маникюра?</h2>

		<h3>Или делаем маникюр дома!</h3>

		<p>Казалось бы, все просто: вот пилка для ногтей, вот <a href="http://manicurshop.ru/market/manicuretools/">маникюрный инструмент</a>, вот <a href="http://manicurshop.ru/market/lakue/">лак для ногтей</a>. Но как пользоваться ими правильно? Под каким углом держать пилку, чтобы ноготь не расслоился? Как аккуратно обрезать кутикулу? Как добиться, чтобы лак для ногтей держался неделю? Как всегда поддерживать красивым маникюр дома, самостоятельно?</p>

		<p>У специалистов есть свои секреты. И мастера наращивания и дизайна ногтей готовы ими поделиться. 8 видов маникюра, 10 техник ногтевого дизайна и 116 практичных рекомендаций по уходу за руками ждут Вас в 13 интересных и полезных уроках профессионального курса «ПРО маникюр». Они придут на вашу почту абсолютно бесплатно. Это здорово!</p>

		<p><a href="http://manicurshop.ru/pro_manikyur/">Подпишитесь на рассылку</a> и будьте свободны! Вы больше не привязаны к салону и расписанию мастера. В командировке, на отдыхе, даже «зависнув» в гостях вы уверены: уж что-что, а руки всегда будут в порядке. Для этого достаточно взять с собой маникюрный набор и лак для ногтей.</p>

		{% include pathIndex~'pages-common/modules/free-mail.twig' with {overrideClassfreeMail: 'su-main_free-mail'} %}
	</div>

{% endblock %}

{% block script %}
	{{ parent() }}
	<!-- СКРИПТЫ ДЛЯ ВЕРСТКИ -->
	<script>
		//------------------------------------------------------------
		// ИНИЦИАЛИЗАЦИЯ СЛАЙДЕРА
		$('#slider').nivoSlider({
			effect: 'random',
			slices: 10,
			boxCols: 6,
			boxRows: 4,
			animSpeed: 1500,
			pauseTime: 5000,
			directionNav: true,
			directionNavHide: false,
			controlNav: false,
			keyboardNav: false,
			pauseOnHover: true,
			captionOpacity: 0.8,
			prevText: '',
			nextText: ''
		});
		//------------------------------------------------------------
	</script>
	<!-- /СКРИПТЫ ДЛЯ ВЕРСТКИ -->
{% endblock %}