{% extends '../layout/template_grid-2.twig' %}

{% block content %}

	<div class="su-offers">
		<h1 class="su-offers_title">Маникюрные кусачки</h1>
		{% include 'blocks/popular.twig' with {overrideClassPopular: 'su-offers_popular'} %}
		{% include 'blocks/group-buttons.twig' with {overrideGroupButtons: 'su-offers_sorting'} %}
		<ul class="su-offers_list su-list">

			{% for row in offers %}
				<li class="su-list_item">
					{% include 'blocks/offer.twig' with {overrideClassOffer: 'su-list_offer'} %}
				</li>
			{% endfor %}

		</ul>
		{% include 'blocks/pagination.twig' with {overrideClassPagination: 'su-offers_pagination'} %}
	</div>

{% endblock %}

{% block wrapper_fixed %}
{% endblock %}

{% block script %}
	{{ parent() }}
	<!-- СКРИПТЫ ДЛЯ ВЕРСТКИ -->
	<script>
		//------------------------------------------------------------
		// ...........................................................
		//------------------------------------------------------------
	</script>
	<!-- /СКРИПТЫ ДЛЯ ВЕРСТКИ -->
{% endblock %}