{% if typeTwig == 'php' %}
	{% set pathPassword = 'templates/pages/' %}
{% endif %}

{% extends (typeTwig == 'php') ? 'templates/layout/template_grid-2.twig' : '../layout/template_grid-2.twig' %}


{% block content %}

	<div class="su-password">
		{% if password == 'restore' %}
			<h1 class="su-password_title">Восстановление пароля</h1>
			<form class="su-password-restore" action="#" method="post">
				<p class="su-password-restore_question">Забыли пароль?</p>
				<p class="su-password-restore_instruction">Контрольная строка, а также ваши регистрационные данные были высланы по E-Mail. Пожалуйста, дождитесь прихода письма, так как контрольная строка изменяется при каждом запросе.</p>
				<p class="su-password-restore_error">Сообщение об ошибке</p>
				<p class="su-password-restore_answer">Просто введите свою электронную почту, и мы пришлем инструкцию по восстановлению пароля.</p>
				<div class="su-password-restore_email su-field-text">
					<input class="su-field-text_input" type="text" name="#" placeholder="Ваш Email" required="">
					<span class="su-field-text_error">Текст ошибки</span>
				</div>
				<div class="su-password-restore_button su-block">
					<button class="su-block_element su-btn">Отправить</button>
				</div>
			</form>
		{% elseif password == 'change' %}
			<h1 class="su-password_title">Смена пароля</h1>
			<form class="su-password-change" action="#" method="post">
				<p class="su-password-change_instruction">Пароль успешно сменен.<br>На ваш EMail высланы новые регистрационные данные.</p>
				<p class="su-password-change_error">Сообщение об ошибке</p>
				<div class="su-password-change_password su-field-text">
					<label class="su-field-text_label" for="input-password">Новый пароль:</label>
					<input id="input-password" class="su-field-text_input" type="text" name="#" placeholder="введите пароль" required="">
					<span class="su-field-text_help">Пароль должен быть не менее 6 символов длиной</span>
					<span class="su-field-text_error">Текст ошибки</span>
				</div>
				<div class="su-password-change_new-password su-field-text">
					<label class="su-field-text_label" for="input-new-password">Подтверждение пароля:</label>
					<input id="input-new-password" class="su-field-text_input" type="text" name="#" placeholder="подтвердите пароль" required="">
					<span class="su-field-text_error">Текст ошибки</span>
				</div>
				<div class="su-password-change_button su-block">
					<button class="su-block_element su-btn">Отправить</button>
				</div>
			</form>
		{% endif %}
	</div>

{% endblock %}

{% block wrapper_popup %}
{% endblock %}

{% block script %}
	{{ parent() }}
	<!-- СКРИПТЫ ДЛЯ ВЕРСТКИ -->
	<script>
		//------------------------------------------------------------
		// ...........................................................
		//------------------------------------------------------------
	</script>
	<!-- /СКРИПТЫ ДЛЯ ВЕРСТКИ -->
{% endblock %}