{% if typeTwig == 'php' %}
	{% set pathWorkshop = 'templates/' %}
{% else %}
	{% set pathWorkshop = '../' %}
{% endif %}

{% extends (typeTwig == 'php') ? 'templates/layout/connect/grid-2.twig' : '../layout/connect/grid-2.twig' %}


{% block content %}

	<div class="su-workshop">
		<h1>Заточка маникюрного и парикмахерского инструмента</h1>
		<p>
			Если вы профессиональный мастер маникюра или парикмахер, или просто любите сами делать маникюр или стрижки — в любом случае Вам жизненно необходим, качественно заточенный, маникюрный инструмент или парикмахерские ножницы.
		</p>
		<article>
			<header>
				<h2>Нужно ли затачивать?</h2>
			</header>
			<p>
				Большинство женщин довольно часто используются маникюрным инструментом, а парикмахеры пользуются ножницами ежедневно по нескольку часов подряд. Чтобы инструмент долго работал исправно, он должен быть изготовлен из качественной нержавеющей стали, иметь правильную заточку и находиться в умелых руках.
			</p>
			<p>
				Однако, каким бы дорогим и качественным ни был инструмент, рано или поздно он затупится и перестанет хорошо выполнять свои функции. Кусачки начнут зажевывать кутикулу, ножницы будут щипать, а не резать, пинцет станет менее «хватким».
			</p>
			<p>
				Конечно затупившийся инструмент можно спрятать до лучших времён или даже выкинуть, но есть более правильное решение — восстановление. Заточка <a href="#">маникюрного</a> или парикмахерского инструмента позволит не только поддерживать его в рабочем состоянии, но и существенно экономить на покупке новых ножниц или кусачек.
			</p>
			<p>
				Сегодня услуга профессиональной заточки довольно широко распространена в крупных городах, но, тем не менее, многие мастера маникюра, парикмахеры и просто хозяйки, зачастую ищут хорошего мастера.
			</p>
		</article>
		<article>
			<header>
				<h2>Цены на заточку в мастерской</h2>
			</header>
			<p>
				В таблицах указаны общая цена и для партнеров. Партнеры мастерской «Заточка № 1» обслуживаются со скидкой 15% по Карте партнера. Карту партнера можно получить в офисе мастерской. Условия получения карты можно узнать по тел.: +7 (495) 645-35-03.
			</p>
			<table cellspacing="5" cellpadding="0" style="width: 100%; margin-top: 20px;">
				<tbody>
				<tr> <td width="52%" style="padding: 3px;">
						<h3><strong>Заточка маникюрного инструмента</strong></h3>
					</td> <td width="24%" bgcolor="#ffccff" style="padding: 3px;">Общая цена<strong>
							<br>
						</strong></td> <td width="24%" bgcolor="#ffccff" style="padding: 3px;">
						<div>Партнерская цена</div>
					</td> </tr>

				<tr> <td bgcolor="#ffffcc" style="padding: 3px;"><strong>Кусачки маникюрные</strong></td> <td width="24%" bgcolor="#cccccc" style="padding: 3px;">
						<div><strong>300 руб.</strong></div>
					</td> <td width="24%" bgcolor="#cccccc" style="padding: 3px;">
						<div><strong>250 руб.</strong></div>
					</td> </tr>

				<tr> <td bgcolor="#ffffcc" style="padding: 3px;"><strong>Кусачки педикюрные</strong></td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong><strong>300 </strong>руб.</strong></div>
					</td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong><strong>250 </strong>руб.</strong></div>
					</td> </tr>

				<tr> <td bgcolor="#ffffcc" style="padding: 3px;"><strong>Кутикульные ножницы</strong></td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong><strong>300 </strong>руб.</strong></div>
					</td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong><strong>250 </strong>руб.</strong></div>
					</td> </tr>

				<tr> <td bgcolor="#ffffcc" style="padding: 3px;"><strong>Ногтевые ножницы</strong></td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong>250 руб.</strong></div>
					</td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong>210 руб.</strong></div>
					</td> </tr>

				<tr> <td bgcolor="#ffffcc" style="padding: 3px;"><strong>Шабер (пушер)</strong></td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong> 250 руб.</strong></div>
					</td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong> 210 руб.</strong></div>
					</td> </tr>

				<tr> <td bgcolor="#ffffcc" style="padding: 3px;"><strong>Пинцет</strong></td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong> 250 руб.</strong></div>
					</td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong> 210 руб.</strong></div>
					</td> </tr>

				<tr> <td bgcolor="#ffffcc" style="padding: 3px;"><strong>Триммер</strong></td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong> 250 руб.</strong></div>
					</td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong> 210 руб.</strong></div>
					</td> </tr>

				<tr> <td bgcolor="#ffffcc" style="padding: 3px;"><strong>Книпсер (клипер)</strong></td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong> 250 руб.</strong></div>
					</td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong> 210 руб.</strong></div>
					</td> </tr>
				</tbody>
			</table>
		</article>
		<article>
			<header>
				<h2>Заточка маникюрного и парикмахерского инструмента</h2>
			</header>
			<table cellspacing="5" cellpadding="0" style="width: 100%; margin-top: 20px;">
				<tbody>
				<tr> <td width="52%" style="padding: 3px;">
						<h3><strong>Ремонтные, профилактические услуги</strong></h3>
					</td> <td width="24%" bgcolor="#ffccff" style="padding: 3px;">
						<div>Общая цена<strong>
								<br>
							</strong></div>
					</td> <td width="24%" bgcolor="#ffccff" style="padding: 3px;">
						<div>Партнерская цена</div>
					</td> </tr>

				<tr> <td bgcolor="#ffffcc" style="padding: 3px;"><strong>Замена пружины (лапки) на кусачках</strong></td> <td width="24%" bgcolor="#cccccc" style="padding: 3px;">
						<div><strong>250 руб.</strong></div>
					</td> <td width="24%" bgcolor="#cccccc" style="padding: 3px;">
						<div><strong>210 руб.</strong></div>
					</td> </tr>

				<tr> <td bgcolor="#ffffcc" style="padding: 3px;"><strong>Чистка и полировка инструмента</strong></td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong>50 руб.</strong></div>
					</td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong>42,5 руб.</strong></div>
					</td> </tr>

				<tr> <td bgcolor="#ffffcc" style="padding: 3px;"><strong>Замена заклепки</strong></td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong>200 руб.</strong></div>
					</td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong>170 руб.</strong></div>
					</td> </tr>

				<tr> <td bgcolor="#ffffcc" style="padding: 3px;"><strong>Стерилизация инструмента</strong></td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong>скоро</strong></div>
					</td> <td bgcolor="#cccccc" style="padding: 3px;">
						<div><strong>скоро</strong></div>
					</td> </tr>
				</tbody>
			</table>
		</article>
		<article>
			<header>
				<h2>Адреса приема инструмента на заточку:</h2>
			</header>
			<p>
				Москва м. Планерная <b>30 секунд от метро</b>, ул. Планерная, 7 ТПУ Планерная (2 этаж). Ежедневно с 10:00 до 21:00
			</p>
			<p>
				Москва м. Юго-Западная <b>1 минута от метро</b>, Проспект Вернадского, 86 Б ТЦ Альмирал (1 этаж). Ежедневно с 12:00 до 21:00
			</p>
			<p>
				<strong>Тел./факс: +7 (495) 645-35-03</strong>
			</p>
			<p>
				О сроках заточки и вызове курьера (чтобы забрать инструмент на заточку, или вернуть уже заточенный инструмент) узнавайте по телефону.
			</p>
		</article>
		<div class="su-workshop_partner su-bnr-block">
			<a class="su-bnr-block_link su-link-img" href="#">
				<img class="su-link-img_img" src="img/content-common/partner.gif" alt="Наш партнер">
			</a>
		</div>
	</div>

{% endblock %}

{% block script %}
	{{ parent() }}
	<!-- СКРИПТЫ ДЛЯ ВЕРСТКИ -->
	<script>
		//------------------------------------------------------------
		//............................................................
		//------------------------------------------------------------
	</script>
	<!-- /СКРИПТЫ ДЛЯ ВЕРСТКИ -->
{% endblock %}