//Импорт файлов
@import 'modal-choice-variables';
//-------------------------------

#{$wrapper} {
	//класс фреймворка bootstrap
	.modal-dialog {
		width : 420px;
	}
	//класс фреймворка bootstrap
	.modal-header {
		padding : 0;
	}

	#{$choice-close} {
		@include lib-close;
	}

	#{$choice-action} {
		padding-top : 145px;

		color       : $color-text;
		background  : url('../../../../../img/modal/thumb.png') top center no-repeat;
		&_message {
			text-align : center;
			font-size  : lib-font-size(2);
		}
		&_list#{$list} {
			display    : inline-block;
			margin-top : 25px;
			width      : 100%;
			#{$list}_item {
				float : right;
				&:first-child {
					float : left;
				}
			}
		}
	}
}
