//Импорт файлов
@import 'modal-choice-variables';
//-------------------------------

#{$wrapper} {
	@include lib-respond-to(mobile) {
		padding-right : 0 !important;
	}

	//класс фреймворка bootstrap
	.modal-dialog {
		@include lib-respond-to(mobile) {
			margin        : 30px auto;
			padding-right : 0 !important;

			width         : 300px;
		}
	}

	#{$choice-action} {
		&_list#{$list} {
			@include lib-respond-to(mobile) {
				text-align : center;
			}
			#{$list}_item {
				@include lib-respond-to(mobile) {
					width : 100%;
				}
				&:last-child {
					@include lib-respond-to(mobile) {
						margin-top : 15px;
					}
				}
			}
		}
	}
	#{$choice-action-link}#{$link-btn} {
		@include lib-respond-to(mobile) {
			width : 192px;
		}
	}
}
