{% if typeTwig == 'php' %}
	{% set path = 'templates/layout/modal/' %}
{% endif %}

<div class="su-modal-choice modal fade">
	<div class="modal-dialog">
		<div class="modal-header">
			<div class="su-choice-close" data-dismiss="modal" aria-label="Close"></div>
		</div>
		<div class="modal-body">
			<div class="su-choice-action">
				<div class="su-choice-action_message">Ваш товар добавлен в корзину</div>
				<ul class="su-choice-action_list su-list ">
					<li class="su-list_item">
						<a class="su-choice-action-link su-link-btn" href="catalog.html">Продолжить покупки</a>
					</li>
					<li class="su-list_item">
						<a class="su-choice-action-link su-link-btn" href="basket-step1.html">Перейти в карзину</a>
					</li>
				</ul>
			</div>
		</div>
		{#<div class="modal-footer"></div>#}
	</div>
</div>