{% if typeTwig == 'php' %}
	{% set path = 'templates/layout/modal/' %}
{% endif %}

<div class="su-modal-change-personal modal fade">
	<div class="modal-dialog">
		<div class="modal-header">
			<div class="su-personal-title">Изменение личных данных</div>
			<div class="su-personal-close" data-dismiss="modal" aria-label="Close"></div>
		</div>
		<div class="modal-body">
			<form class="su-personal-form" action="#" method="POST">
				<div class="su-personal-form_name su-field-text">
					<input class="su-field-text_input" type="text" name="#" placeholder="Ваше имя и фамилия" required="">
					<span class="su-field-text_error">Текст ошибки</span>
				</div>
				<div class="su-personal-form_email su-field-text">
					<input class="su-field-text_input" type="text" name="#" placeholder="Email" required="">
					<span class="su-field-text_error">Текст ошибки</span>
				</div>
				<div class="su-personal-form_phone su-field-text">
					<input class="su-field-text_input" type="text" name="#" placeholder="+_(___) ___ __ __" required="">
					<span class="su-field-text_error">Текст ошибки</span>
				</div>
				<div class="su-personal-form_photo su-block">
					<div class="su-block_element">Заменить изображение</div>
					<input class="su-block_element" type="file">
				</div>
				<div class="su-personal-form_button su-block">
					<button class="su-block_element su-btn">Отправить</button>
				</div>
			</form>
		</div>
		{#<div class="modal-footer"></div>#}
	</div>
</div>