{% if typeTwig == 'php' %}
	{% set path = 'templates/layout/modal/' %}
{% endif %}

<div class="su-modal-confirmation modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="su-confirmation-close" data-dismiss="modal" aria-label="Close"></div>
			</div>
			<div class="modal-body">
				<p class="su-confirmation-text">Спасибо! Мы Вам перезвоним!</p>
			</div>
			{#<div class="modal-footer"></div>#}
		</div>
	</div>
</div>
