{% if typeTwig == 'php' %}
	{% set pathModalLogin = 'templates/layout/' %}
{% else %}
	{% set pathModalLogin = '../' %}
{% endif %}

<div class="su-modal-login modal fade">
	<div class="modal-dialog">
		<div class="modal-header">
			<div class="su-login-title">Войти на сайт</div>
			<div class="su-login-close" data-dismiss="modal" aria-label="Close"></div>
		</div>
		<div class="modal-body">
			<div class="su-login">
				{% include pathModalLogin~'blocks/social-links.twig' with { overrideClassSocialLinks: 'su-login_links' } %}
				{% include pathModalLogin~'blocks/login-form.twig' with { overrideClassLoginForm: 'su-login_form', textButton: 'Войти' } %}
			</div>
		</div>
		{#<div class="modal-footer"></div>#}
	</div>
</div>
