<div class="su-modal-delivery modal fade">
	<div class="modal-dialog">
		<div class="modal-header">
			<div class="su-modal-delivery-close" data-dismiss="modal" aria-label="Close"></div>
		</div>
		<div class="modal-body">
			<div class="su-modal-delivery-text">
				<p>
					<b>Курьер по Москве</b>
				</p>
				<ul>
					<li>1-2 дня — 300 рублей;</li>
					<li>Срочная доставка 500 рублей;</li>
				</ul>
				<p>
					<b>Курьер по Санкт-Петербургу</b>
				</p>
				<ul>
					<li> 1-2 дня — 300 рублей.</li>
				</ul>
				<p>
					<b>Доставка по Московской области</b>
					<br>
					Сумма зависит от населенного пункта. При оформлении вы увидите сумму доставки в корзине.
					<br>
					Срок доставки 1–2 дня.
					<br>
				</p>
				<p>
					<b>Самовывоз в Москве (бесплатно)</b>
					<br>
					м. Планерная <b>30 секунд от метро</b>, ул. Планерная, 7 ТПУ Планерная (2 этаж)
				</p>
				<p>
					м. Юго-Западная <b>1 минута от метро</b>, Проспект Вернадского, 86 Б ТЦ Альмирал (1 этаж)
				</p>

				<p>
					<b>Курьерская доставка по России</b>
					<br>
					Сумма зависит от населенного пункта. При оформлении вы увидите сумму доставки в корзине.
					<br>
					Срок доставки 2–5 дней.
				</p>
				<p>
					<b>Почта России</b>
					<br>
					Недорогой способ доставки практически в любой населенный пункт России.
					<br>
					Сумма зависит от населенного пункта. При оформлении вы увидите сумму доставки в корзине.
				</p>
			</div>
		</div>
		{#<div class="modal-footer"></div>#}
	</div>
</div>