{% if typeTwig == 'php' %}
	{% set path = 'templates/layout/footer/' %}
{% endif %}

<footer class="su-footer">
	<div class="su-footer_row">

		{% if typeTemplate == '_su-normal' %}
			<div class="su-footer_cell">
				{# Социальные сети #}
				{% include path~'blocks/footer-social-network.twig' %}
			</div>
			<div class="su-footer_cell">
				{# Информация #}
				{% include path~'blocks/footer-info.twig' %}
			</div>
			<div class="su-footer_cell">
				{# Каталог #}
				{% include path~'blocks/footer-catalog.twig' %}
			</div>
			<div class="su-footer_cell">
				{# О нас #}
				{% include path~'blocks/footer-about-us.twig' %}
			</div>
		{% endif %}

		<div class="su-footer_cell">
			{# Контаткы #}
			{% include path~'blocks/footer-contacts.twig' %}
		</div>
	</div>
	<div class="su-footer_row">
		{# Копирайт #}
		{% include path~'blocks/footer-copyright.twig' %}
		{# Разработчик сайта #}
		{% include path~'blocks/footer-developer.twig' %}
	</div>
</footer>