//Импорт файлов
@import 'password-variables';
//-------------------------------

#{$wrapper} {

	@include mix-content-common-param();

	#{$password-restore} {
		&_question {
			font-weight : $lib-font-weight-bold;
		}
		&_instruction {
			color : $color-text-instruction;
		}
		&_error {
			color : $color-text-error;
		}
		&_email#{$field-text} {
			margin-top : 20px;
			width      : 250px;
		}
		&_button#{$block} {
			margin-top : 20px;
		}
	}
	#{$password-change} {
		&_instruction {
			color : $color-text-instruction;
		}
		&_error {
			color : $color-text-error;
		}
		&_password#{$field-text},
		&_new-password#{$field-text} {
			margin-top : 1.25rem;
			width      : 300px;
		}
		&_button#{$block} {
			margin-top : 20px;
		}
	}
}