//Классы
$wrapper : lib-get-class('footer-about-us');
$about-us-list : lib-get-class('footer-about-us-list');
$detail : lib-get-class('detail');
$list : lib-get-class('list');
//-------------------------------

#{$wrapper}#{$detail} {
	padding-top : 0;
	#{$detail}_label {
		@include mix-footer-title;
	}
	#{$detail}_value {

		@at-root {
			#{$about-us-list}#{$list} {
				@include mix-footer-list;
			}
		}

	}
}