//Классы
$wrapper : lib-get-class('footer-catalog');
$footer-catalog-list : lib-get-class('footer-catalog-list');
$detail : lib-get-class('detail');
$list : lib-get-class('list');
//-------------------------------

#{$wrapper}#{$detail} {
	padding-top : 0;
	#{$detail}_label {
		@include mix-footer-title;
	}
	#{$footer-catalog-list}#{$list} {
		@include mix-footer-list;
	}
}
