//Цвета
$color-sitemap-link : lib-color('primary-dark');
//-------------------------------

//Классы
$wrapper : lib-get-class('sitemap');
$sitemap-level1 : lib-get-class('sitemap-level1');
$sitemap-level2 : lib-get-class('sitemap-level2');
$sitemap-level3 : lib-get-class('sitemap-level3');
$sitemap-link : lib-get-class('sitemap-link');
$link : lib-get-class('link');
$list : lib-get-class('list');
//-------------------------------
