//Импорт файлов
@import 'sitemap-variables';
//-------------------------------

#{$wrapper} {

	@include mix-content-common-param();

	#{$sitemap-level1}#{$list} {
		padding-top : lib-line-top(0);
		> #{$list}_item:first-child {
			padding-top : 0;
		}
		#{$list}_item {
			padding-left : 15px;
			padding-top  : lib-line-top(-5);
			#{$sitemap-link} {
				position        : relative;
				padding-left    : 15px;

				color           : $color-sitemap-link;
				text-decoration : none;
				&:before {
					content   : '\f054';
					position  : absolute;
					top       : 6px;
					left      : 0;

					font-size : lib-font-size(-4);

					@include lib-font-icon();

				}
				&_text {
					text-decoration : underline;
					&:hover {
						text-decoration : none;
					}
				}
				&:hover {
					#{$sitemap-link}_text {
						text-decoration : none;
					}
				}
			}

			@at-root {
				#{$sitemap-level2}#{$list} {
					#{$list}_item {

						@at-root {
							#{$sitemap-level3}#{$list} {
								#{$list}_item {

								}
							}
						}

					}
				}
			}

		}
	}
}
