<div class="su-header-control">
	<div class="su-header-control_container">
		{# Поиск #}
		{% include 'blocks/header-search.twig' %}
		{# Меню #}
		{% include 'blocks/header-nav.twig' %}
		{# Карзина #}
		{% include 'blocks/header-basket.twig' %}
		{# Пользователь #}
		{% include 'blocks/header-user.twig' %}
	</div>
</div>
