{% if typeTwig == 'php' %}
	{% set path = 'templates/layout/header/' %}
{% endif %}

<div class="su-header-control">
	<div class="su-header-control_container">
		{# Поиск #}
		{% include path~'blocks/header-search.twig' %}
		{# Меню #}
		{% include path~'blocks/header-nav.twig' %}
		{# Карзина #}
		{% include path~'blocks/header-basket.twig' %}
		{# Пользователь #}
		{% include path~'blocks/header-user.twig' %}
	</div>
</div>
