<div class="su-header-info">
	<div class="su-header-info_container">
		{# Логотип #}
		{% include 'blocks/header-logo.twig' %}
		{# Конаткты #}
		{% include 'blocks/header-contacts.twig' %}
	</div>
</div>
