{% if typeTwig == 'php' %}
	{% set path = 'templates/layout/header/' %}
{% endif %}

<div class="su-header-info">
	<div class="su-header-info_container">
		{# Логотип #}
		{% include path~'blocks/header-logo.twig' %}
		{# Конаткты #}
		{% include path~'blocks/header-contacts.twig' %}
	</div>
</div>
