//Цвета
$color-title : lib-color(secondary-dark);
//------------------------------

//Классы
$wrapper : lib-get-class('modal-reg');
$reg-title : lib-get-class('reg-title');
$reg-close : lib-get-class('reg-close');
$reg-form : lib-get-class('reg-form');
$social-links: lib-get-class('social-links');
$list: lib-get-class('list');
//-------------------------------
