<div class="su-footer-social-network">
	<span class="su-footer-social-network_title">
		{{ footerSocialNetwork.title }}
	</span>
	<div class="su-footer-social-network_pluso pluso" data-background="transparent" data-options="big,square,line,horizontal,nocounter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,livejournal,linkedin,moikrug,print"></div>
	<script type="text/javascript">
//		(function() {
//			if (window.ifpluso==undefined)
//			{ window.ifpluso = 1;
//				var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
//				s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
//				s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
//				var h=d[g]('body')[0];
//						h.appendChild(s);
//			}
//		})();
	</script>
</div>