//Импорт файлов
@import 'tabs-variables';
//-------------------------------

#{$wrapper} {
	#{$tabs-control} {
		&_list#{$list} {
			#{$list}_item {
				@include lib-respond-to(normal) {
					margin-left : 6px;
					width       : 119px;

					font-size   : lib-font-size(-3);
				}
				@include lib-respond-to(narrow) {
					margin-left : 5px;
					padding     : 8px 5px;
					width       : 98px;
				}
				@include lib-respond-to(mobile) {
					width : 96px;
				}
				@include lib-respond-to(mobileM) {
					margin-left : 0;
					padding     : 6px 10px;
					width       : 100%;

					text-align  : left;
				}
				&:first-child {
					@include lib-respond-to(normal) {
						margin-left : -1px;
					}
					@include lib-respond-to(narrow) {
						margin-left : -1px;
					}
					@include lib-respond-to(mobileM) {
						margin-left : 0;
					}
				}
				&#{$_pickup},
				&#{$_courier-moscow},
				&#{$_courier-spb},
				&#{$_courier-russia},
				&#{$_post-russia} {
					@include lib-respond-to(narrow) {
						height : 98px;
					}
					@include lib-respond-to(mobileM) {
						height : 31px;
					}
					&:before {
						@include lib-respond-to(narrow) {
							display    : block;
							margin-top : -8px;
							height     : 55px;
							width      : 100%;

							font-size  : 30px;
							@include lib-font-icon (
								$line-height : 55px
							);
						}
						@include lib-respond-to(mobileM) {
							display : none;
						}
					}
				}
			}
		}
	}

	#{$tabs-content} {
		@include lib-respond-to(narrow) {
			padding : 15px 10px;
		}
	}

	#{$tab-page} {
		&_benefit#{$list} {
			#{$list}_item {
				@include lib-respond-to(mobileM) {
					padding-left : 45px;
				}
				&:before {
					@include lib-respond-to(mobileM) {
						left : 20px;
					}
				}
			}
		}
	}

	&#{$_personal} {

		#{$tabs-control} {
			&_list#{$list} {
				#{$list}_item {
					@include lib-respond-to(normal) {
						margin-left : 6px;
						width       : 119px;

						font-size   : lib-font-size(-3);
					}
					@include lib-respond-to(narrow) {
						margin-left : 5px;
						padding     : 6px 4px;
						height      : 45px;
						width       : 98px;
					}
					@include lib-respond-to(mobile) {
						height : 50px;
						width  : 112px;
					}
					@include lib-respond-to(mobileM) {
						margin-left : 0;
						padding   : {
							left  : 10px;
							right : 10px;
						}
						height      : 31px;
						width       : 100%;
					}
					&:first-child {
						@include lib-respond-to(normal) {
							margin-left : -1px;
						}
						@include lib-respond-to(narrow) {
							margin-left : -1px;
						}
						@include lib-respond-to(mobileM) {
							margin-left : 0;
						}
					}
				}
			}
		}

		#{$tabs-content} {
			@include lib-respond-to(narrow) {
				padding : 15px 10px;
			}
		}

		#{$tab-page} {
			&_special#{$list} {
				#{$list}_item {
					@include lib-respond-to(mobileS) {
						height : 80px;
					}
					#{$special-offer}#{$offer} {
						@include lib-respond-to(narrow) {
							padding-right : 115px;
						}
						@include lib-respond-to(mobileS) {
							padding-right : 5px;
						}
						#{$offer}_preview#{$preview} {
							#{$preview}_link#{$link-img} {
								@include lib-respond-to(mobileS) {
									@include lib-link-img-param(
										$height : 70px,
										$ratio : (71/70)
									);
								}
							}
						}
						#{$offer-new-price}#{$detail} {
							@include lib-respond-to(mobileS) {
								bottom : -35px;
								width  : 158px;
							}
							@include lib-respond-to(mobileXS) {
								bottom : -45px;
								width  : 88px;
							}
							#{$detail}_value {
								@include lib-respond-to(mobileXS) {
									display     : block;
									margin-left : 0;
								}
							}
						}
						#{$offer-button}#{$block} {
							@include lib-respond-to(narrow) {
								right  : -105px;
								bottom : -19px;
							}
							@include lib-respond-to(mobileS) {
								right  : 0;
								bottom : -41px;
							}
						}
					}
				}
			}
			&_favorites#{$list} {
				#{$list}_item {
					@include lib-respond-to(mobileS) {
						height : 80px;
					}
					#{$favorites-offer}#{$offer} {
						@include lib-respond-to(narrow) {
							padding-right : 135px;
						}
						@include lib-respond-to(mobileS) {
							padding-right : 30px;
						}
						#{$offer}_preview#{$preview} {
							#{$preview}_link#{$link-img} {
								@include lib-respond-to(mobileS) {
									@include lib-link-img-param(
										$height : 70px,
										$ratio : (71/70)
									);
								}
							}
						}
						#{$offer-new-price}#{$detail} {
							@include lib-respond-to(mobileS) {
								bottom : -35px;
								width  : 119px;
							}
							@include lib-respond-to(mobileXXS) {
								bottom : -45px;
								width  : 88px;
							}
							#{$detail}_value {
								@include lib-respond-to(mobileXXS) {
									display     : block;
									margin-left : 0;
								}
							}
						}
						#{$offer-button}#{$block} {
							@include lib-respond-to(narrow) {
								right  : -105px;
								bottom : -19px;
							}
							@include lib-respond-to(mobileS) {
								right  : -25px;
								bottom : -41px;
							}
						}
						#{$offer-close} {
							@include lib-respond-to(narrow) {
								right : -131px;
							}
							@include lib-respond-to(mobileS) {
								right : -25px;
							}
						}
					}
				}
			}
			&_orders#{$list} {
				#{$list}_item {
					@include lib-respond-to(mobileM) {
						height : 51px;
					}
					@include lib-respond-to(mobileS) {
						height : 75px;
					}
				}
				#{$list}_order#{$order} {
					&#{$_activated},
					&#{$_canceled},
					&#{$_completed} {
						@include lib-respond-to(narrow) {
							padding-left : 156px;
						}
						@include lib-respond-to(mobile) {
							padding-left : 168px;
						}
						@include lib-respond-to(mobileM) {
							padding-right : 30px;
						}
						@include lib-respond-to(mobileS) {
							padding   : {
								right : 5px;
								top   : 27px;
								left  : 85px;
							}
						}
						#{$order-state}_detail#{$detail} {
							#{$detail}_label,
							#{$detail}_value {
								@include lib-respond-to(mobileS) {
									display : inline-block;
								}
							}
						}
						#{$order}_preview#{$preview} {
							@include lib-respond-to(narrow) {
								left : 78px;
							}
							@include lib-respond-to(mobile) {
								left : 87px;
							}
							@include lib-respond-to(mobileS) {
								top  : 27px;
								left : 5px;
							}
						}
						#{$order}_title#{$block} {
							@include lib-respond-to(mobileM) {
								height      : 20px;

								white-space : nowrap;
							}
							&:before {
								@include lib-respond-to(mobileM) {
									height : 100%;
								}
							}
						}
						#{$order}_quantity#{$block} {
							@include lib-respond-to(mobileM) {
								top         : 25px;
								right       : auto;
								left        : 168px;

								line-height : 20px;
							}
							@include lib-respond-to(mobileS) {
								top  : 47px;
								left : 86px;
							}
						}
						#{$order}_price#{$block} {
							@include lib-respond-to(mobileM) {
								top         : 25px;
								right       : auto;
								left        : 230px;

								line-height : 20px;
							}
							@include lib-respond-to(mobileS) {
								top  : 47px;
								left : 150px;
							}
						}
					}
				}
			}
			&_filter#{$group-buttons},
			&_sorting#{$group-buttons} {
				@include lib-respond-to(mobileM) {
					text-align : left;

				}
				#{$group-buttons}_list#{$list} {
					@include lib-respond-to(mobileM) {
						float      : left;
						margin-top : 5px;
						width      : 100%;
					}
					#{$list}_item {
						&:first-child {
							@include lib-respond-to(mobileM) {
								margin-left : 0;
							}
						}
						&:nth-of-type(3) {
							@include lib-respond-to(mobileS) {
								border-radius : 0 4px 4px 0;
							}
						}
						&:nth-of-type(n+4) {
							@include lib-respond-to(mobileS) {
								display : none;
							}
						}
					}
				}
			}
		}
	}
}
