//Импорт файлов
@import 'payment-icons-variables';
//-------------------------------

#{$wrapper} {
	&_list#{$list} {
		#{$list}_item {
			@include lib-respond-to(normal) {
				@include lib-box12($cell : 3);
			}
			#{$icon} {
				&:before {
					@include lib-respond-to(normal) {
						margin-right : 26px;
						margin-left  : 26px;
					}
					@include lib-respond-to(narrow) {
						margin-right : 13px;
						margin-left  : 13px;
					}
				}
			}
		}
	}
}