//Цвета
$color-title : lib-color(secondary-dark);
//------------------------------

//Классы
$wrapper : lib-get-class('modal-login');
$login-title : lib-get-class('login-title');
$login-close : lib-get-class('login-close');
$login-form : lib-get-class('login-form');
$social-links: lib-get-class('social-links');
$list: lib-get-class('list');
//-------------------------------
