//Классы
$wrapper : lib-get-class('tile-offers');
$offer : lib-get-class('offer');
$offer-description : lib-get-class('offer-description');
$offer-title : lib-get-class('offer-title');
$offer-annotation : lib-get-class('offer-annotation');
$offer-old-price : lib-get-class('offer-old-price');
$offer-price : lib-get-class('offer-price');
$offer-button : lib-get-class('offer-button');
$search-content : lib-get-class('search-content');
$list : lib-get-class('list');
$link : lib-get-class('link');
$link-img : lib-get-class('link-img');
$preview : lib-get-class('preview');
$detail : lib-get-class('detail');
$block : lib-get-class('block');
$pagination : lib-get-class('pagination');
//-------------------------------
