//Импорт файлов
@import 'header-control-variables';
//-------------------------------

#{$wrapper} {
	&_container {
		@include lib-respond-to(normal) {
			width : $lib-width-container-normal;
		}
		@include lib-respond-to(narrow) {
			width : $lib-width-container-narrow;
		}
		@include lib-respond-to(mobile) {
			width : $lib-width-container-mobile;
		}
	}
	#{$search} {
		@include lib-respond-to(narrow) {
			width : 180px;
		}
		@include lib-respond-to(mobile) {
			margin-left : 52px;
			width       : 39%;
		}
		@include lib-respond-to(mobileS) {
			width : 45%;
		}
		@include lib-respond-to(mobileXS) {
			width : 50%;
		}
	}
	#{$nav} {
		@include lib-respond-to(narrow) {
			margin-top  : 10px;
			margin-left : 15px;
		}
		@include lib-respond-to(mobile) {
			position      : absolute;
			top           : 0;
			left          : -275px;
			margin-top    : 0;
			margin-left   : 0;
			padding       : 10px 20px 15px 20px;
			width         : 275px;

			background    : #ececec;
			border-bottom : 1px dashed #717171;
		}
		&_list#{$list} {
			@include lib-respond-to(mobile) {
				display     : block;

				font-size   : lib-font-size(-4);
				font-weight : $lib-font-weight-bold;
			}
			#{$list}_item {
				@include lib-respond-to(mobile) {
					float   : none;
					margin  : 0;
					padding : 6px 0;
					&:after {
						display : none;
					}
				}
			}
			#{$list}_link#{$link} {
				@include lib-respond-to(mobile) {
					color : #717171;
				}
			}
		}
		&_button {
			&:after {
				@include lib-respond-to(mobile) {
					display : block;
				}
			}
		}
	}
	#{$user} {
		@include lib-respond-to(narrow) {
			max-width : 155px;
		}
		@include lib-respond-to(mobileXS) {
			margin-right : 15px;
		}
		#{$userdropdown}#{$dropdown} {
			@include lib-respond-to(narrow) {
				width : 112px;
			}
		}
	}
	#{$basket} {
		&_link {
			@include lib-respond-to(mobileXS) {
				padding   : {
					left  : 15px;
					right : 15px;
				}
			}
			&:after {
				@include lib-respond-to(mobileXS) {
					left : 7px;
				}
			}
		}
		&_title {
			@include lib-respond-to(mobileM) {
				display : none;
			}
		}
		&_symbol,
		&_total {
			@include lib-respond-to(mobileS) {
				display : none;
			}
		}
		&_amount {
			@include lib-respond-to(mobileXS) {
				display : none;
			}
		}
		&_dropdown {
			@include lib-respond-to(narrow) {
				min-width : 225px;
			}
		}
	}
}
