//Цвета
$bg-comments-list : lib-color(primary-lighter);
$bg-comment-hover : lib-color(accent-lighter);
$color-border-item : lib-color(primary-base);
$color-border-img : lib-color(primary-base-light);
//-------------------------------

//Классы
$wrapper : lib-get-class('sidebar-viewed');
$viewed-offer : lib-get-class('viewed-offer');
$list : lib-get-class('list');
$offer : lib-get-class('offer');
$title : lib-get-class('offer-title');
$description : lib-get-class('offer-description');
$new-price : lib-get-class('offer-new-price');
$preview : lib-get-class('preview');
$link-img : lib-get-class('link-img');
$block : lib-get-class('block');
$detail : lib-get-class('detail');
//-------------------------------

#{$wrapper} {
	position      : relative;
	//margin-top    : 20px;
	padding       : 8px 5px;

	border-radius : 5px;
	background    : url(../../../../../img/bg_5.jpg);
	box-shadow    : inset 0 1px 2px rgba(0, 0, 0, .16);

	@include lib-respond-to(narrow) {
		padding       : 5px 3px;
	}
	&_title {
		position  : absolute;
		top       : 0;
		left      : 0;
		padding   : 12px 24px 0 12px;
		width     : 100%;
		z-index   : 3;

		font-size : lib-font-size(1);
		@include lib-respond-to(narrow) {
			padding   : 15px 21px 0 9px;

			font-size : lib-font-size(0);
		}
	}
	&_list#{$list} {
		position : relative;
		height   : 350px;
		width    : 100%;

		//Если отключены скрипты это правило позволит отобразить обычный скролл
		overflow : auto;

		@include mix-override-jscrollpane();
		#{$list}_item {
			margin     : 0 8px;
			padding    : 0;

			border-top : 1px solid $color-border-item;

			@include lib-respond-to(narrow) {
				margin     : 0 6px;
			}
			&:first-child {
				margin-top : 40px;

				border-top : none;
			}

			@at-root {
				#{$viewed-offer}#{$offer} {
					padding    : 15px 0;

					border     : none;
					box-shadow : none;

					@include lib-respond-to(narrow) {
						padding : 10px 0;
					}
					#{$offer}_preview#{$preview} {
						#{$preview}_link#{$link-img} {

							@include lib-link-img-param(
									$border : $color-border-img,
									$height : 65px
							);
							@include lib-respond-to(narrow) {
								@include lib-link-img-param(
										$height : 50px
								);
							}
						}
					}
					#{$description} {
						@include lib-respond-to(narrow) {
							font-size    : lib-font-size(-4);
						}
						&_container {
							height : 40px;

							@include lib-respond-to(narrow) {
								height : 32px;
							}
							#{$title}#{$block} {
								padding-left : 72px;

								font-size    : lib-font-size(-3);
								@include lib-respond-to(narrow) {
									padding-left : 55px;
								}
							}
						}
					}
					#{$new-price}#{$detail} {
						position     : relative;
						bottom       : 0;
						margin-top   : 0;
						padding-top  : 5px;
						padding-left : 72px;

						text-align   : right;
						@include lib-respond-to(narrow) {
							padding-top  : 0;
							padding-left : 55px;
						}
					}
				}
			}
		}

	}
}