{% if typeTwig == 'php' %}
	{% set path = 'templates/layout/' %}
{% endif %}

{% extends path~'/template_wrapper.twig' %}

{% block wrapper_sections %}

	<section class="su-grid-2">
		<div class="su-grid-2_container">
			<aside class="su-grid-2_aside {{ typeSidebar }}">
				<div class="su-sidebar">
					{% include path~'sidebar/sidebar.twig' %}
				</div>
			</aside>
			<div class="su-grid-2_content">
				<div class="su-content-header">
					{% include path~'content-header/content-header.twig' %}
				</div>
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</section>

{% endblock %}

{% block wrapper_fixed %}
{% endblock %}

{% block wrapper_modal %}
{% endblock %}
