<div class="su-wrapper {{ typeTemplate }}">

	{# Шапка #}
	<header class="su-wrapper-header {{ typeHeader }}">

		{% if typeTemplate == '_su-normal' %}
			{% include 'header/header-control.twig' %}
			{% include 'header/header-info.twig' %}

			{% if headerBunner == 'slider' %}
				{% include 'header/header-banner.twig'  with {typeBunner: 'slider'} %}
			{% elseif headerBunner == 'stock' %}
				{% include 'header/header-banner.twig'  with {typeBunner: 'stock'} %}
			{% endif %}

		{% elseif typeTemplate == '_su-basket' %}
			{% include 'header/header-info.twig' %}
		{% else %}
			{% include 'header/header-control.twig' %}
			{% include 'header/header-info.twig' %}
		{% endif %}

	</header>

	{# Обертка разделов #}
	<div class="su-wrapper-sections">
		{% block wrapper_sections %}
		{% endblock %}
	</div>

	{# Обертка подвала #}
	<div class="su-wrapper-footer">
		{% include 'footer/footer.twig' %}
	</div>

	{# Обертка для фиксированных элементов #}
	<div class="su-wrapper-fixed">
		{% block wrapper_fixed %}
		{% endblock %}
	</div>

	{# Обертка для модальных окон #}
	<div class="su-wrapper-modal">
		{% if typeTemplate != '_su-guide' %}
			{% include 'modal/modal-application.twig' %}
			{% include 'modal/modal-change-personal.twig' %}
			{% include 'modal/modal-choice.twig' %}
			{% include 'modal/modal-confirmation.twig' %}
			{% include 'modal/modal-delivery.twig' %}
			{% include 'modal/modal-login.twig' %}
			{% include 'modal/modal-reg.twig' %}
		{% endif %}
	</div>

</div>
{% block script %}
	{% if typeTemplate == '_su-normal' %}
		<!-- СКРИПТЫ ДЛЯ ВЕРСТКИ -->
		<script src="js/toggle-menu.js"></script>
		<script src="js/toggle-show.js"></script>
		<script src="js/common.js"></script>
		<!-- /СКРИПТЫ ДЛЯ ВЕРСТКИ -->
	{% elseif typeTemplate == '_su-basket' %}
		<!-- СКРИПТЫ ДЛЯ ВЕРСТКИ -->
		{#<script src="js/.............js"></script>#}
		<!-- /СКРИПТЫ ДЛЯ ВЕРСТКИ -->
	{% elseif typeTemplate == '_su-guide' %}
		<!-- СКРИПТЫ ДЛЯ ВЕРСТКИ -->
		<script src="../js/toggle-show.js"></script>
		<!-- /СКРИПТЫ ДЛЯ ВЕРСТКИ -->
	{% endif %}
{% endblock %}