//Цвета
$bg-link : lib-color(primary-lighter);
$color-label : lib-color(primary-dark);
$color-el : lib-color(primary-dark);
$color-el-visited : lib-color(primary-dark);
$color-el-border : lib-color(primary-light);
$color-el-border-hover : lib-color(accent-base-bright);
$color-current : lib-color(accent-base-bright);
$color-current-border : lib-color(accent-base-bright);
//-------------------------------

//Классы
$wrapper : lib-get-class('pagination');
$pagination-el : lib-get-class('pagination-el');
$link : lib-get-class('link');
$list : lib-get-class('list');
$_current : lib-get-modifier('current');
//-------------------------------

#{$wrapper} {
	width      : 100%;

	text-align : right;
	&_label {
		color       : $color-label;
		font-family : OpenSansBold;
		font-size   : lib-font-size(-3);
	}
	&_list#{$list} {
		display        : inline-block;
		margin-left    : 8px;

		vertical-align : -9px;
		#{$list}_item {
			float : left;

			@at-root {
				#{$pagination-el} {
					float            : left;
					display          : block;
					box-sizing       : content-box;
					margin-right     : 2px;
					padding          : 3px 6px;
					height           : 100%;

					color            : $color-el;
					font-size        : lib-font-size(-2);
					border           : solid 1px $color-el-border;
					background-color : $bg-link;
					text-decoration  : none;
					&:visited {
						color           : $color-el-visited;
						text-decoration : none;
					}
					&:hover {
						border-color : $color-el-border-hover;
					}
				}

				#{$_current} {
					color        : $color-current;
					font-weight  : $lib-font-weight-bold;
					border-color : $color-current-border;
				}
			}

		}
	}
}
