//Цвета
$bg-link-img : lib-color(primary-lighter);
//-------------------------------

//Классы
$wrapper : lib-get-class('preview');
$link-img : lib-get-class('link-img');
//-------------------------------

#{$wrapper} {
	&_link#{$link-img} {
		@include lib-link-img-param(
				$bg: $bg-link-img,
				$text-align: center,
				$vertical-align: middle
		);
	}
}