//Цвета
$bg-search-popup : lib-color(primary-lighter);
$bg-search-popup-row-hover : lib-color(primary-light);
$color-title-block-link : lib-color(accent-base-bright);
$color-search-shadow : lib-color(primary-dark);
$color-search-popup-shadow : lib-color(primary-base-dark);
$color-search-popup-border : lib-color(primary-base);
//-------------------------------

//Классы
$wrapper : lib-get-class('tile');
$tile-search : lib-get-class('tile-search');
$tile-search-popup : lib-get-class('tile-search-popup');
$tile-search-name : lib-get-class('tile-search-name');
$tile-search-quantity : lib-get-class('tile-search-quantity');
$tile-block : lib-get-class('tile-block');
$offer : lib-get-class('offer');
$description : lib-get-class('offer-description');
$title : lib-get-class('offer-title');
$old-price : lib-get-class('offer-old-price');
$price : lib-get-class('offer-price');
$button : lib-get-class('offer-button');
$field : lib-get-class('field-search');
$list : lib-get-class('list');
$link : lib-get-class('link');
$img : lib-get-class('link-img');
$preview : lib-get-class('preview');
$detail : lib-get-class('detail');
$block : lib-get-class('block');
$pagination : lib-get-class('pagination');
//-------------------------------

#{$wrapper} {
	padding       : 5px;
	max-width     : 820px;

	border-radius : 5px;
	background    : url('../../../../img/bg_5.jpg');
	&_title {
		padding-top    : lib-line-top(0);
		padding-bottom : lib-line-top(0);
		padding-left   : 4px;
	}
	#{$tile-search} {
		position : relative;
		padding  : 10px 5px;
		z-index  : 2;
		&_form {
			position : relative;
			#{$tile-search}_line#{$field} {
				border-radius : 5px;
				border-width  : 1px;
				box-shadow    : 0 1px 2px $color-search-shadow;
				#{$field}_postfix {
					margin-top : 0;
				}
			}

			@at-root #{$wrapper} {
				#{$tile-search-popup} {
					position      : absolute;
					top           : 100%;
					left          : 0;
					padding       : 2px;
					margin-top    : 2px;
					width         : 100%;

					border-radius : 5px;
					border        : 1px solid $color-search-popup-border;
					background    : $bg-search-popup;
					box-shadow    : 0 1px 5px 0 $color-search-popup-shadow;
					&_list#{$list} {
						display : table;
						width   : 100%;
						#{$list}_item {
							display : table-row;
							&:hover,
							&.active {
								background-color : $bg-search-popup-row-hover;
							}
							#{$tile-search-name},
							#{$tile-search-quantity} {
								display   : table-cell;
								padding : 2px 4px;

								font-size : 14px;
								cursor    : pointer;
							}
							#{$tile-search-quantity} {
								text-align : right;
							}
						}
					}
				}
			}

		}
	}
	&_list#{$list} {

		@extend %lib-clearfix;
		#{$list}_item {
			padding : 5px;

			@include lib-box12(3);

			@at-root {
				#{$tile-block} {
					position      : relative;
					width         : 100%;
					margin-bottom : 50px;

					@include lib-responsive-ratio();
					#{$tile-block}_img#{$block} {
						position   : absolute;
						top        : 0;
						left       : 0;
						padding    : 10px;
						height     : 100%;
						width      : 100%;

						text-align : center;
						&:after,
						&:before {
							content        : '';
							display        : inline-block;
							height         : 100%;

							vertical-align : middle;
						}
						&:after {
							margin-left : -5px;
						}
						&:before {
							margin-right : -5px;
						}
						#{$block}_element {
							max-height     : 100%;

							vertical-align : middle;
						}
					}
					#{$tile-block}_title#{$block} {
						position   : absolute;
						bottom     : -40px;
						padding    : 0 10px;
						width      : 100%;
						height     : 50px;

						text-align : center;
						#{$block}_element {
							color     : $color-title-block-link;
							font-size : lib-font-size(1);
						}
					}
				}
			}

			@at-root #{$wrapper}_list#{$list} {
				#{$list}_offer#{$offer} {
					padding : 10px 10px 62px 10px;
					#{$offer}_preview#{$preview} {
						position : relative;

						@at-root #{$wrapper}_list#{$list} #{$list}_offer#{$offer} {
							#{$preview}_link#{$img} {
								@include lib-link-img-param(
									$height : 180px,
									$vertical-align : top
								);
							}
						}

					}
					#{$description} {
						position : relative;
						z-index  : 1;
						&_container {
							height   : auto;
							overflow : visible;

							@at-root #{$wrapper}_list#{$list} #{$list}_offer#{$offer} {
								#{$title}#{$block} {
									position     : relative;
									margin-top   : -45px;
									padding-left : 0;
									height       : 45px;

									overflow     : hidden;
									text-align   : center;
									background   : linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.9), #ffffff, #ffffff);

									@include lib-text-blackout(
										$height : 50%,
										$width : 12px
									);
									#{$block}_element#{$link} {
										padding-top : 5px;
										height      : 100%;
										max-width   : 100%;
									}
								}
							}

						}

						@at-root #{$wrapper}_list#{$list} #{$list}_offer#{$offer} {
							#{$old-price}#{$detail} {
								margin-top : 2px;

								font-size  : lib-font-size(-1);
								text-align : center;
							}

							#{$price} {
								right  : auto;
								bottom : -40px;
							}

							#{$button}#{$block} {
								right  : 0;
								bottom : -45px;
							}
						}

					}
				}
			}
		}
	}
	&_more#{$block} {
		margin-top     : 20px;
		padding-bottom : 15px;
		width          : 100%;

		text-align     : center;
	}
	&_pagination#{$pagination} {
		padding : 10px 5px;
	}
}