{% if typeTwig == 'php' %}
	{% set pathSidebarViewed = 'templates/' %}
{% else %}
	{% set pathSidebarViewed = '../../../' %}
{% endif %}

<section class="su-sidebar-viewed">
	<h2 class="su-sidebar-viewed_title">Вы уже смотрели:</h2>
	<ul class="su-sidebar-viewed_list su-list">

		{% for row in sidebarViewedOffers %}
			<li class="su-list_item">
				{% include pathSidebarViewed~'modules/offer.twig' with {overrideClassOffer: 'su-viewed-offer'} %}
			</li>
		{% endfor %}

	</ul>
</section>
